# 리스트

In [1]:
# 1번 학생의 국어, 영어, 수학, 과학 점수가 각각 90, 95, 85, 80
student1 = [90, 95, 85, 80]
student1

[90, 95, 85, 80]

In [5]:
type(student1)

list

In [11]:
print(student1[0])
print(student1[1])
print(student1[-1])

90
95
80

In [12]:
student1[1] = 100 # 두 번째 항목에 새로운 데이터 할당
student1

[90, 100, 85, 80]

In [13]:
myfriends = ['James', 'Robert', 'Lisa', 'Mary']
myfriends

['James', 'Robert', 'Lisa', 'Mary']

In [14]:
mixedlist = [0, 2, 3.14, 'python', 'program', True, myfriends]
mixedlist

[0, 2, 3.14, 'python', 'program', True, ['James', 'Robert', 'Lisa', 'Mary']]

In [15]:
list_con1 = [1, 2, 3, 4]
list_con2 = [5, 6, 7, 8]
list_con = list_con1 + list_con2

print(list_con)

[1, 2, 3, 4, 5, 6, 7, 8]

In [16]:
list_ccon = list_con2 + list_con1
list_ccon

[5, 6, 7, 8, 1, 2, 3, 4]

In [18]:
list_con1 = [1,2,3,4]
list_con = list_con1 * 3 
list_con

[1, 2, 3, 4, 1, 2, 3, 4, 1, 2, 3, 4]