In [114]:
import requests
from bs4 import BeautifulSoup
import pandas as pd 
import numpy as np
import time
from datetime import datetime

call_list = []

for i in range(1, 445):

    url = 'https://finance.naver.com/marketindex/interestDailyQuote.nhn?marketindexCd=IRR_CALL&page={}'.format(i)

    response = requests.get(url)
    soup = BeautifulSoup(response.content)
    content = soup.find('table', class_='tbl_exchange today').find_all('tr')

    for tag in content:
        call_dict = {}

        # date 
        date = tag.find('td')
        if date is not None:
            date = date.text.replace('\n','').replace('\t','')
            call_dict['date'] = date

        # price
        if tag.find('td') is not None:
            price = tag.find('td').find_next('td').text
            call_dict['price'] = price

            call_list.append(call_dict)

df = pd.DataFrame(call_list)
df

            date price
0     2019.07.11  1.75
1     2019.07.10  1.74
2     2019.07.09  1.69
3     2019.07.08  1.73
4     2019.07.05  1.73
5     2019.07.04  1.73
6     2019.07.03  1.73
7     2019.07.02  1.73
8     2019.07.01  1.75
9     2019.06.28  1.83
10    2019.06.27  1.77
11    2019.06.26  1.76
12    2019.06.25  1.75
13    2019.06.24  1.75
14    2019.06.21  1.74
15    2019.06.20  1.75
16    2019.06.19  1.76
17    2019.06.18  1.75
18    2019.06.17  1.76
19    2019.06.14  1.74
20    2019.06.13  1.75
21    2019.06.12  1.75
22    2019.06.11  1.75
23    2019.06.10  1.75
24    2019.06.07  1.77
25    2019.06.05  1.73
26    2019.06.04  1.75
27    2019.06.03  1.77
28    2019.05.31  1.79
29    2019.05.30  1.76
...          ...   ...
3078  2007.02.08  4.55
3079  2007.02.07  4.49
3080  2007.02.06  4.46
3081  2007.02.05  4.54
3082  2007.02.02  4.60
3083  2007.02.01  4.60
3084  2007.01.31  4.61
3085  2007.01.30  4.61
3086  2007.01.29  4.70
3087  2007.01.26  4.70
3088  2007.01.25  4.62
3089  2007.01.24  4.61
3090  2007.01.23  4.60
3091  2007.01.22  4.61
3092  2007.01.19  4.58
3093  2007.01.18  4.71
3094  2007.01.17  4.67
3095  2007.01.16  4.64
3096  2007.01.15  4.64
3097  2007.01.12  4.64
3098  2007.01.11  4.63
3099  2007.01.10  4.67
3100  2007.01.09  4.62
3101  2007.01.08  4.61
3102  2007.01.05  4.66
3103  2007.01.04  4.67
3104  2007.01.03  4.56
3105  2007.01.02  4.54
3106  2006.12.29  4.60
3107  2006.12.28  4.58

[3108 rows x 2 columns]