# 제어문

## IF문

In [4]:
a = 10
if a == 5:
    print('a는 5입니다.')

if a == 10:
    print('a는 10입니다.')

a는 10입니다.

In [14]:
str_1 = "Life is too short."
str_1

'Life is too short.'

In [15]:
if str_1:
    print("실행 되었습니다.")

실행 되었습니다.

In [18]:
l1 = []
# 칸이 비어있는 경우를 생각해야한다.

In [17]:
if l1:
    print('비었네?')
    
if not l1:
    print('비었어요.')

비었어요.

In [19]:
if None:
    print('이건 None이에요.')
# None타입은 실행자체가 되지 않는다.

In [20]:
if type(str_1) == type(str()):
    print('str_1은 string data-type입니다.')
    
print(type(str_1-_))

str_1은 string data-type입니다.

TypeError: unsupported operand type(s) for -: 'str' and 'str'

In [21]:
a = 10

if a<5:
    print('a가 5보다 작습니다.')
    
elif a<10:
    print('a가 5보다 크거나 같고, 10보다 작습니다.')
    
elif a<15:
    print("a가 15보다는 작습니다.")

a가 15보다는 작습니다.

## 연습문제 1

In [ ]:
a = input('점수1: ')
b = input('점수2: ')
c = input('점수3: ')

# 코드 작성
a = int(a)
b = int(b)
c = int(c)


if a not in range(101) or b not in range(101) or c not in range(101):
    print('잘못된 점수가 입력 되었습니다.')
    
elif a > 65 and b > 65 and c > 65:
    print('합격')
    
else:
    print('불합격')
#코드 끝

## 연습문제 2

In [1]:
a = int(input('정수를 입력해 주세요: '))

# 코드 작성
if a in range(0:max:1):
    print("입력하신 a는 홀수입니다.")

if a in range(0:max:2):
    print("입력하신 a는 짝수입니다.")
    
if a == 0:
    print('0은 애매합니다.')

SyntaxError: invalid syntax (<ipython-input-1-f340dde8eb91>, line 4)

In [2]:
a = int(input("정수를 입력해 주세요.: "))

#코드 작성

if a == 0:
    print("0은 애매합니다.")
    
elif a % 2 == 1:
    print('홀수 입니다.')
    
else:
    print("짝수 입니다.")

정수를 입력해 주세요.: 3
홀수 입니다.

## PASS문

In [6]:
a = 10
if a == 10:
# 들여쓰기 오류 발생함    

print("코드가 실행되었습니다.")

IndentationError: expected an indented block (<ipython-input-6-8b410cb2ea4b>, line 5)

In [7]:
a = 10
if a == 10:
    pass
print("코드가 실행되었습니다.")

코드가 실행되었습니다.

## 들여쓰기란?

In [13]:
a = 7
b = 5
if a != 10:
    print('a는 10입니다.')
    print("하지만 b=5 입니다.")

a는 10입니다.
하지만 b=5 입니다.

# 반복문 for

In [5]:
# for 변수 in [iterator]:
            # 코드
    #iterator 반복가능한 개체. 변수.

In [7]:
for i in range(10):
    print("현재값:", i)

현재값: 0
현재값: 1
현재값: 2
현재값: 3
현재값: 4
현재값: 5
현재값: 6
현재값: 7
현재값: 8
현재값: 9

In [8]:
for i in range(0, 10, 2):
    print("현재값:", i)

현재값: 0
현재값: 2
현재값: 4
현재값: 6
현재값: 8

In [9]:
for i in [1, 2, 3, 4, 5]:
    print('리스트 현재값: ', i)

리스트 현재값:  1
리스트 현재값:  2
리스트 현재값:  3
리스트 현재값:  4
리스트 현재값:  5

In [11]:
for a in ['a', 'b', 'c']:
    print('리스트 현재값: ', a)

리스트 현재값:  a
리스트 현재값:  b
리스트 현재값:  c

In [31]:
a = int(input("정수를 입력해주세요: "))

# 코드 작성
for i in range(a):   
    print("안녕")

정수를 입력해주세요: 5
안녕
안녕
안녕
안녕
안녕

In [34]:
a = int(input("정수를 입력해주세요: "))

# 코드 작성
for i in range(1, a+1):
    print('*' * (i) )

정수를 입력해주세요: 5
*
**
***
****
*****

In [29]:
a = int(input("정수를 입력해주세요: "))

# 코드 작성
for i in range( a, 0, -1 ):
    print('*' * (i))

정수를 입력해주세요: 10
**********
*********
********
*******
******
*****
****
***
**
*

In [ ]:
for i in range(10):
    print('='*10)
    
    print(i, '번째 iloop')
    
    print('-'*10)
    
    for j in range(10):
        print()

## 연습문제 2-1
(1)  x = [3, 6, 9, 20, -7, 5] 의 값의 모든 요소에 10을 곱한뒤 출력하세요
심화 : 출력과 리스트 x 의 값에도 모두 10을 곱해주세요

In [36]:
# 기본
x = [3, 6, 9, 20, -7, 5]

for i in x:
    print(i*10)

30
60
90
200
-70
50

In [101]:
# 심화
# 심화 : 출력과 리스트 x 의 값에도 모두 10을 곱해주세요
x = [3, 6, 9, 20, -7, 5]

for idx, val in enumerate(x):
    x[idx] *= 10

print(x)

[30, 60, 90, 200, -70, 50]

## 연습문제 2-2
(2)  y = {“math”: 70, “science”: 80, “english”: 20} 의 값의 모든 요소에 10을 더한뒤 출력하세요
심화 : 출력과 딕셔너리 y 의 값에도 모두 10을 더해주세요

In [99]:
# 기본
y = {"math": 70, "science": 80, "english":20}
for k in y:
    print(y[k]+10)

80
90
30

In [134]:
# 심화
y = {"math": 70, "science": 80, "english":20}

for subject in y:
    y[subject] += 10
    print(y[subject])

80
90
30

## 연습문제 2-3
(3) 숫자를 입력받고 입력받은 정수의 구구단을 출력하세요

In [168]:
a = int(input("정수를 입력하세요: "))

for i in range(1, 10):
    print(i, '*', a, '=', i*a)

정수를 입력하세요: 5
1 * 5 = 5
2 * 5 = 10
3 * 5 = 15
4 * 5 = 20
5 * 5 = 25
6 * 5 = 30
7 * 5 = 35
8 * 5 = 40
9 * 5 = 45

# 연습문제 3-1
(1) word = [“school”, “game”, “piano”, “science”, “hotel”, “mountian”] 중 글자수가 6글자 이상인 문자를 모아 새로운 리스트를 생성하세요.

In [175]:
word = ["school", "game", "piano", "science", "hotel", "mountain"]

# 코드작성
new = []
for a in word:
    if len(a) >= 6:
        new.append(a)
        
print(new)

['school', 'science', 'mountain']

In [203]:
word = ["school", "game", "piano", "science", "hotel", "mountain"]

# 코드작성
new = word.copy()
# 복사를 한다는 것이 중요하다.

for x in word:
    if len(x)<6:
        new.remove(x)
        
new

['school', 'science', 'mountain']

In [205]:
word = ["school", "game", "piano", "science", "hotel", "mountain"]

# 코드작성
new = []
for a in word:
    if len(a) >= 6:
        new.extend([a])
        # extend는 요소가 아닌 리스트로 추가해야 한다.
        
print(new)

['school', 'science', 'mountain']

# 연습문제 3-2
(2) 구구단을 1단부터 9단까지 출력하세요

In [193]:
a = range(2,10)
b = range(1,10)

for i in a:
    for x in b:
        print(i, "*", x , '=', i*x)

2 * 1 = 2
2 * 2 = 4
2 * 3 = 6
2 * 4 = 8
2 * 5 = 10
2 * 6 = 12
2 * 7 = 14
2 * 8 = 16
2 * 9 = 18
3 * 1 = 3
3 * 2 = 6
3 * 3 = 9
3 * 4 = 12
3 * 5 = 15
3 * 6 = 18
3 * 7 = 21
3 * 8 = 24
3 * 9 = 27
4 * 1 = 4
4 * 2 = 8
4 * 3 = 12
4 * 4 = 16
4 * 5 = 20
4 * 6 = 24
4 * 7 = 28
4 * 8 = 32
4 * 9 = 36
5 * 1 = 5
5 * 2 = 10
5 * 3 = 15
5 * 4 = 20
5 * 5 = 25
5 * 6 = 30
5 * 7 = 35
5 * 8 = 40
5 * 9 = 45
6 * 1 = 6
6 * 2 = 12
6 * 3 = 18
6 * 4 = 24
6 * 5 = 30
6 * 6 = 36
6 * 7 = 42
6 * 8 = 48
6 * 9 = 54
7 * 1 = 7
7 * 2 = 14
7 * 3 = 21
7 * 4 = 28
7 * 5 = 35
7 * 6 = 42
7 * 7 = 49
7 * 8 = 56
7 * 9 = 63
8 * 1 = 8
8 * 2 = 16
8 * 3 = 24
8 * 4 = 32
8 * 5 = 40
8 * 6 = 48
8 * 7 = 56
8 * 8 = 64
8 * 9 = 72
9 * 1 = 9
9 * 2 = 18
9 * 3 = 27
9 * 4 = 36
9 * 5 = 45
9 * 6 = 54
9 * 7 = 63
9 * 8 = 72
9 * 9 = 81

In [206]:
for i in range(2,10):
    for j in range(1,10):
        print("%d*%d ="%(i,j),i*j)
print('')

2*1 = 2
2*2 = 4
2*3 = 6
2*4 = 8
2*5 = 10
2*6 = 12
2*7 = 14
2*8 = 16
2*9 = 18
3*1 = 3
3*2 = 6
3*3 = 9
3*4 = 12
3*5 = 15
3*6 = 18
3*7 = 21
3*8 = 24
3*9 = 27
4*1 = 4
4*2 = 8
4*3 = 12
4*4 = 16
4*5 = 20
4*6 = 24
4*7 = 28
4*8 = 32
4*9 = 36
5*1 = 5
5*2 = 10
5*3 = 15
5*4 = 20
5*5 = 25
5*6 = 30
5*7 = 35
5*8 = 40
5*9 = 45
6*1 = 6
6*2 = 12
6*3 = 18
6*4 = 24
6*5 = 30
6*6 = 36
6*7 = 42
6*8 = 48
6*9 = 54
7*1 = 7
7*2 = 14
7*3 = 21
7*4 = 28
7*5 = 35
7*6 = 42
7*7 = 49
7*8 = 56
7*9 = 63
8*1 = 8
8*2 = 16
8*3 = 24
8*4 = 32
8*5 = 40
8*6 = 48
8*7 = 56
8*8 = 64
8*9 = 72
9*1 = 9
9*2 = 18
9*3 = 27
9*4 = 36
9*5 = 45
9*6 = 54
9*7 = 63
9*8 = 72
9*9 = 81

# 연습문제 4
1-100 까지 숫자중
3과 5의 공배수일경우 “3과 5의 공배수”
나머지 숫자중 3의배수일경우 “3의배수”
나머지 숫자중 5의배수일경우 “5의배수”
모두 해당되지 않을경우 그냥숫자
를 출력하세요

In [45]:
for a in range(1,101):
    if a in set(range(15,100,15)):
        print("3과 5의 공배수")
    elif a in (range(3,100,3)):
        print("3의배수")
    elif a in (range(5,100,5)):
        print("5의배수")
    else:
        print("그냥숫자")

그냥숫자
그냥숫자
3의배수
그냥숫자
5의배수
3의배수
그냥숫자
그냥숫자
3의배수
5의배수
그냥숫자
3의배수
그냥숫자
그냥숫자
3과 5의 공배수
그냥숫자
그냥숫자
3의배수
그냥숫자
5의배수
3의배수
그냥숫자
그냥숫자
3의배수
5의배수
그냥숫자
3의배수
그냥숫자
그냥숫자
3과 5의 공배수
그냥숫자
그냥숫자
3의배수
그냥숫자
5의배수
3의배수
그냥숫자
그냥숫자
3의배수
5의배수
그냥숫자
3의배수
그냥숫자
그냥숫자
3과 5의 공배수
그냥숫자
그냥숫자
3의배수
그냥숫자
5의배수
3의배수
그냥숫자
그냥숫자
3의배수
5의배수
그냥숫자
3의배수
그냥숫자
그냥숫자
3과 5의 공배수
그냥숫자
그냥숫자
3의배수
그냥숫자
5의배수
3의배수
그냥숫자
그냥숫자
3의배수
5의배수
그냥숫자
3의배수
그냥숫자
그냥숫자
3과 5의 공배수
그냥숫자
그냥숫자
3의배수
그냥숫자
5의배수
3의배수
그냥숫자
그냥숫자
3의배수
5의배수
그냥숫자
3의배수
그냥숫자
그냥숫자
3과 5의 공배수
그냥숫자
그냥숫자
3의배수
그냥숫자
5의배수
3의배수
그냥숫자
그냥숫자
3의배수
그냥숫자

In [47]:
# 모범답안
for a in range(1,101):
    if a%3==0 and a%5==0:
        print("3과 5의 공배수")
    elif a%3==0:
        print("3의 배수")
    elif a%5==0:
        print("5의 배수")
    else:
        print(a)

1
2
3의 배수
4
5의 배수
3의 배수
7
8
3의 배수
5의 배수
11
3의 배수
13
14
3과 5의 공배수
16
17
3의 배수
19
5의 배수
3의 배수
22
23
3의 배수
5의 배수
26
3의 배수
28
29
3과 5의 공배수
31
32
3의 배수
34
5의 배수
3의 배수
37
38
3의 배수
5의 배수
41
3의 배수
43
44
3과 5의 공배수
46
47
3의 배수
49
5의 배수
3의 배수
52
53
3의 배수
5의 배수
56
3의 배수
58
59
3과 5의 공배수
61
62
3의 배수
64
5의 배수
3의 배수
67
68
3의 배수
5의 배수
71
3의 배수
73
74
3과 5의 공배수
76
77
3의 배수
79
5의 배수
3의 배수
82
83
3의 배수
5의 배수
86
3의 배수
88
89
3과 5의 공배수
91
92
3의 배수
94
5의 배수
3의 배수
97
98
3의 배수
5의 배수

In [48]:
num = int(input('정수를 입력하세요: '))
for a in range(1, num+1):
    if a%3==0 and a%5==0:
        print("3과 5의 공배수")
    elif a%3==0:
        print("3의 배수")
    elif a%5==0:
        print("5의 배수")
    else:
        print(a)

정수를 입력하세요: 15
1
2
3의 배수
4
5의 배수
3의 배수
7
8
3의 배수
5의 배수
11
3의 배수
13
14
3과 5의 공배수

# for문 list, tuple, set
# for문 dictionary

In [100]:
list1 = ['a', 'b', 'c', 'd']
for i in list1:
    print(i)

a
b
c
d

In [130]:
# 예시 

a = {'name':'younsoo', 'height': '175', 'address': 'seoul'}
for x in a:
    # print(x) : x = 'name', x = 'height', x = 'address' 값이 뜬다.
    # print(a[x]) younsoo, 175, seoul
    
    # 이 뒤에 .ys를 붙이고 싶다. 
    
    print(a[x]+ '.ys')

younsoo.ys
175.ys
seoul.ys

#### 이해를 위한 연습

In [104]:
a = [1, 3, 5, 6, 10]
for i in range(len(a)):
    a[i] *= 10
    print(a)

[10, 3, 5, 6, 10]
[10, 30, 5, 6, 10]
[10, 30, 50, 6, 10]
[10, 30, 50, 60, 10]
[10, 30, 50, 60, 100]

In [106]:
a = [3, 5, 7]
for i in enumerate(a):
    print(i)
    i[0]

(0, 3)
(1, 5)
(2, 7)

In [113]:
a = [3, 5, 7]
for idx, val in enumerate(a):
    print(idx, val)

0 3
(0, 3)
1 5
(0, 3)
2 7
(0, 3)