## 변수

In [3]:
x = 10
a, b, c = 100, 200, 300

print(x)
print(a, b, c)

10
100 200 300

In [4]:
x = 20
print(x)
print(a, b, c)

20
100 200 300

### 즉, 변수는 값을 바꿀 수 있다.

# 자료형

In [5]:
type(10)

int

In [68]:
type(3,5)

TypeError: type() takes 1 or 3 arguments

# 연산자

In [11]:
a = 10
b = 20

a*b

200

In [13]:
a = 2 
b = 3

a**b

8

In [14]:
a**5

32

In [15]:
a//b

0

In [16]:
10//3

3

In [17]:
10 % 3

1

In [18]:
1+3*5

16

In [19]:
(1+3) * 5

20

In [20]:
3 + 3.0

6.0

 ㄴ 정수와 실수의 연산은 실수로 바뀌어서 계산된다. (=형변환)

## 연습문제1

아래와 같이 a = 7, b = 3.0 로 초기화 하고
a를 b로 나누었을 때 몫과 나머지를 각각 c와 d 라는 변수에 초기화한 후 출력하라.
그리고 e라는 변수에 a의 b제곱을 초기화하고 출력하라.

In [24]:
a = 7 
b = 3.0

c = a//b
d = a%b
e = a**b

print(c)
print(d)
print(e)

2.0
1.0
343.0

In [25]:
a = 1 
a

1

In [26]:
float(a)

1.0

## 연습문제2
반 평균을 구하시오.
단 변수를 사용하여 계산하고,
 변수의 이름을 학생의 이름으로 하십시요.
- 반드시 정수로 출력하십시요.

In [31]:
mike = 80
judy = 75
sera = 100

int((mike+judy+sera)/3)

85

In [32]:
2>1

True

In [33]:
2<1

False

In [34]:
2<=2

True

In [35]:
1>=2

False

In [36]:
'a'!='b'

True

In [38]:
1=='1'

False

In [39]:
1==int('1')

True

In [40]:
(1<2) and (-1>2)

False

In [41]:
not True

False

In [42]:
print(bool(1))
print(bool(-1))

True
True

In [43]:
print(bool(0))
print(bool(0,0))

False

TypeError: bool() takes at most 1 argument (2 given)

### 연습문제3
사용자로 점수를 3개 입력받아
모든 점수가 65점보다 클 경우 True 아닐경우 False
를 출력하세요

In [62]:
num1 = int(input("입력1: "))
num2 = int(input("입력2: "))
num3 = int(input("입력3: "))

print(num1>65 and num2>65 and num3>65)

입력1: 65
입력2: 66
입력3: 67
False

## None

In [65]:
x = None
print(x)
print(type(x))

None
<class 'NoneType'>

## 문자열

In [71]:
single = '안녕하세요.'
print(single)
print(type(single))

안녕하세요.
<class 'str'>

In [72]:
multi = """
안녕하세요.
잘 부탁드립니다.
"""
print(multi)
print(type(multi))

안녕하세요.
잘 부탁드립니다.

<class 'str'>

In [73]:
multi = '''
안녕하세요.
잘 부탁드립니다.
'''

print(multi)

안녕하세요.
잘 부탁드립니다.

In [75]:
a = 'hello'
b = 'world'

a+b

'helloworld'

In [76]:
a*3

'hellohellohello'

In [77]:
print("hello\tworld")

hello	world

In [78]:
print('hello\nworld')

hello
world

In [89]:
quote = '가나다라마바사아자차카타파하'
quote[-1]

'하'

왼쪽에서부터는 0..1..2..3...
오른쪽에서부터는 -1..-2...-3....

In [90]:
quote[1:4]

'나다라'

In [91]:
quote[1:7:3]

'나마'

In [92]:
quote[-4]

'카'

## 문자열 서식문자

In [107]:
name = "강정호"
name = "김민수"
intro = "안녕하세요. 저는 %s입니다." % name

print(intro)

안녕하세요. 저는 김민수입니다.

In [104]:
name = "강정호"
intro = "안녕하세요. 저는 %s입니다."
print(intro % name)

안녕하세요. 저는 강정호입니다.

In [108]:
age = 12
intro = "안녕하세요. 저는 %d살입니다." % age
print(intro)

안녕하세요. 저는 12살입니다.

In [111]:
age = 12.3
intro = "안녕하세요. 저는 %.3f살입니다." % age
print(intro)

안녕하세요. 저는 12.300살입니다.

In [112]:
age = 12.3
intro = "안녕하세요. 저는 %.5f살입니다." % age
print(intro)

안녕하세요. 저는 12.30000살입니다.

In [113]:
age = 12.3
intro = "안녕하세요. 저는 %s살입니다." % age
print(intro)

안녕하세요. 저는 12.3살입니다.

In [116]:
quote = '안녕하세요. 저는 %s 이고, 키는 %s입니다.' % ('신윤수','195')
quote

'안녕하세요. 저는 신윤수 이고, 키는 195입니다.'

## Format 함수

In [118]:
quote = '안녕하세요. 저는 {0}이고, 키는 {1}입니다.'.format('신윤수','195')
quote

'안녕하세요. 저는 신윤수이고, 키는 195입니다.'

In [119]:
quote = '안녕하세요. 저는 {1}이고, 키는 {1}입니다.'.format('신윤수','195')
quote

'안녕하세요. 저는 195이고, 키는 195입니다.'

In [121]:
quote = '안녕하세요. 저는 {0:<4}이고, 키는 {1}입니다.'.format('신윤수','195')
quote

'안녕하세요. 저는 신윤수 이고, 키는 195입니다.'

In [122]:
quote = '안녕하세요. 저는 {0:<10}이고, 키는 {1}입니다.'.format('신윤수','195')
quote

'안녕하세요. 저는 신윤수       이고, 키는 195입니다.'

In [124]:
quote = '안녕하세요. 저는 {0:>10}이고, 키는 {1}입니다.'.format('신윤수','195')
quote

'안녕하세요. 저는        신윤수이고, 키는 195입니다.'

In [126]:
quote = '안녕하세요. 저는 {0:^10}이고, 키는 {1:>20}입니다.'.format('신윤수','195')
quote

'안녕하세요. 저는    신윤수    이고, 키는                  195입니다.'

In [127]:

name = "강정호"
loc = "서울"

intro = f"저는 {name}이고 {loc}에 삽니다."
print(intro)

저는 강정호이고 서울에 삽니다.

## 연습문제4
a="20190505chicken19000"는 잘못 쓰여진 변수이다.
2019는 year이라는 변수에, 그 다음 0505를 day라는 변수에,
chicken을 menu라는 변수에, 19000을 money라는 변수에 
인덱싱을 사용하여 각각 저장하고 출력하시오.

In [143]:
a = "20190505chicken19000"

year = a[0:4]
day = a[4:8]
menu = a[8:15]
money = a[15:20]

print(year, day, menu, money)

2019 0505 chicken 19000

a="90:30:80"이고 :을 기준으로 각각 수학점수, 영어점수, 과학점수이다.
문자열 인덱싱을 이용해 각 점수를 각각 
math, english, science 변수에 저장하고,
average 란 변수에 평균값을 저장하고 출력하시오.

In [156]:
a = "90:30:80"

math = a[:2]
english = a[3:5]
science = a[6:]

average = (int(math)+int(english)+int(science))/3
print(average)

66.66666666666667

## 문자열 함수

In [164]:
quote = "my best career partner"

quote2 = "hello"
len(quote2)

5

ㄴ len 은 함수이기 때문에 print 필요 x

In [166]:
quote2.index('l')

2

In [167]:
quote.upper()

'MY BEST CAREER PARTNER'

In [169]:
upper_quote = quote.upper()
upper_quote

'MY BEST CAREER PARTNER'

In [170]:
upper_quote.lower()

'my best career partner'

In [171]:
quote2

'hello'

In [172]:
quote2.replace('he', "hi")

'hillo'

In [173]:
"pear, apple, banana, orange".replace('pear', 'mango')

'mango, apple, banana, orange'

In [174]:
quote

'my best career partner'

In [175]:
quote.count('e')

4

In [176]:
quote.count(' ')

3

In [178]:
quote.count('ar')

2

In [179]:
quote = "      " + quote
quote

'      my best career partner'

In [180]:
quote.strip()

'my best career partner'

In [182]:
quote

'      my best career partner'

In [185]:
quote.lstrip()

'my best career partner'

In [187]:
quote = quote + "                           "
quote

'      my best career partner                                                      '

In [188]:
quote.rstrip()

'      my best career partner'

In [190]:
fruits = 'pear, apple, grape, mango, watermelon'
fruit_list = fruits.split(',')
fruit_list

['pear', ' apple', ' grape', ' mango', ' watermelon']

In [191]:
type(fruit_list)

list

In [192]:
fruit_list[0]

'pear'

In [193]:
len(fruit_list)

5

In [195]:
":".join(fruit_list)

'pear: apple: grape: mango: watermelon'

In [196]:
".".join(fruit_list)

'pear. apple. grape. mango. watermelon'

## 연습문제6
a="  90:30:80  "이고 :을 기준으로 각각 수학점수, 영어점수, 과학점수이다. 
문자열 함수를 이용해 공백을 제거하고,  
각 점수를 각각 math, english, science 변수에 저장한 후,
average 란 변수에 평균값을 저장하고 출력하시오.

hint: strip, split을 이용한다.

In [199]:
a = "90:30:80"

grade = a.split(':')
grade

['90', '30', '80']

In [218]:
a = '90:30:80'

#code 시작
math, english, science = a.split(":")

average = ((int(math)) + (int(english)) + (int(science))) / 3

# code종료
print(average)

66.66666666666667

# REMIND

In [220]:
a = [1, 2, 3, 'a', 'b', 'c']
a

[1, 2, 3, 'a', 'b', 'c']

In [221]:
type(a)

list

In [222]:
tuple_a = (1, 2, 3, 'a', 'b', 'c')
tuple_a

(1, 2, 3, 'a', 'b', 'c')

In [223]:
type(tuple_a)

tuple

In [225]:
a[0] = 0
a

[0, 2, 3, 'a', 'b', 'c']

In [232]:
tuple_a[0] = 1

#튜플 왜써요? 안정성을 위해서. 절대로 바뀌지 말아야 할 값들을 유지하기 위해서

TypeError: 'tuple' object does not support item assignment

In [233]:
#형변환 명령어 잘 기억해 둘 것 
dict_me = {
    'name': '강정호',
    'height' : 180,
    'address' : '서울',
}
dict_me

{'name': '강정호', 'height': 180, 'address': '서울'}

## 리스트와 튜플형
### 시퀀스 자료형

In [234]:
a = [1, 2, 3, 4]
b = (1, 2, 3, 4)

print(a[2])
print(b[1])

3
2

In [1]:
my_tuple = (1, 2, 3, 4, 5)
type(my_tuple)

tuple

In [3]:
my_tuple2 = (1)
type(my_tuple2)
#튜플이 아닌 숫자로 인식해버린다.

int

In [5]:
my_tuple2 = (1,)
type(my_tuple2)
#,(콤마)를 넣어줌으로써 튜플로 인식을 하게 만들 수 있다.

tuple

# 연산자 보충

In [12]:
a = 1

In [13]:
a = a+1
print(a)

2

In [14]:
a += 1 
print(a)

3

In [15]:
a -= 1
print(a)

2

In [16]:
a *= 4
print(a)

8

### range

In [235]:
range(10)

range(0, 10)

In [236]:
list(range(10))

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

In [237]:
range(2,10)

range(2, 10)

In [238]:
list(range(2,10))

[2, 3, 4, 5, 6, 7, 8, 9]

In [239]:
list(range(2,10,2))

[2, 4, 6, 8]

In [243]:
tuple(range(5,0,-1))
#tuple 형변환도 가능하다.

(5, 4, 3, 2, 1)

### 리스트

In [244]:
list1 = ['a', 'b', 'c', 'd']

list1[3]

'd'

In [245]:
list1[-2]

'c'

In [246]:
del list1[1]
list1

['a', 'c', 'd']

In [248]:
a = ['a', 'b', 'c']
a*3

['a', 'b', 'c', 'a', 'b', 'c', 'a', 'b', 'c']

In [250]:
b = ['d', 'e', 'f']
a+b

['a', 'b', 'c', 'd', 'e', 'f']

In [251]:
len(b)

3

In [252]:
'd' in b

True

In [253]:
'a' in b

False

In [266]:
empty_list = []
empty_list.append(1)
empty_list

[1]

In [267]:
empty_list.append(3)
empty_list

[1, 3]

In [271]:
num = empty_list.pop()

In [268]:
empty_list

[1, 3]

In [278]:
a = [1]
new_list = ['a', 'b', 'c']

a = a+new_list

In [279]:
a

[1, 'a', 'b', 'c']

In [280]:
a.insert(2,1000)

In [281]:
a

[1, 'a', 1000, 'b', 'c']

In [282]:
a.append('a')

In [283]:
a

[1, 'a', 1000, 'b', 'c', 'a']

In [284]:
a.remove('a')

In [285]:
a

[1, 1000, 'b', 'c', 'a']

In [286]:
a.index(1000)

1

In [287]:
a.index('c')

3

In [288]:
a = [1, 2, 2, 3, 3, 3]
a.count(1)

1

In [289]:
a.count(2)

2

In [290]:
a.reverse()
a

[3, 3, 3, 2, 2, 1]

In [291]:
sort_list = [3, 1, 5, 2, 88, 12]
sort_list

[3, 1, 5, 2, 88, 12]

In [294]:
sort_list.sort()
sort_list

[1, 2, 3, 5, 12, 88]

In [296]:
sort_list.reverse()
sort_list

[88, 12, 5, 3, 2, 1]

## list 복사

In [304]:
a = 10
b = a 
b

10

In [305]:
#a = a+1
# a += 1

b = b+1
print(a)
print(b)

10
11

In [309]:
list_a = [1, 2, 3, 4]
list_a

[1, 2, 3, 4]

In [310]:
list_b = list_a
list_b

[1, 2, 3, 4]

In [311]:
list_b[2] = 5
list_b

[1, 2, 5, 4]

In [312]:
list_a

[1, 2, 5, 4]

### 해결책

In [315]:
list_a = [1, 2, 3, 4]
list_a

[1, 2, 3, 4]

In [316]:
list_b = list_a.copy()
list_b

[1, 2, 3, 4]

In [317]:
list_b[2] = 5 
print(list_a)
print(list_b)

[1, 2, 3, 4]
[1, 2, 5, 4]

## 다차원리스트

In [318]:
dim2_list = [[1,2], [3,4]]
dim2_list

[[1, 2], [3, 4]]

In [319]:
len(dim2_list)

2

In [326]:
#이해해야함
dim2_list[0]
dim2_list[1][1]

4

In [320]:
dim2_list[0]

[1, 2]

In [322]:
type(dim2_list[0])

list

In [323]:
import copy
dim2_b_list = copy.deepcopy(dim2_list)
dim2_b_list

[[1, 2], [3, 4]]

## 딕셔너리

In [328]:
a = {
    'name': 'Tom',
    'english': 80,
    'math': 99
}
print(a)

{'name': 'Tom', 'english': 80, 'math': 99}

In [329]:
type(a)

dict

In [25]:
b = dict(name = 'Tom',
        englisth = 80,
        math = 99,)
b

{'name': 'Tom', 'englisth': 80, 'math': 99}

In [332]:
a = [1, 3, 5]
3 in a

True

In [334]:
'name' in b
#name이 키 값으로 b에 있는가?

True

In [338]:
len(b)
#b의 키 값을 센다

3

In [353]:
b = dict(name = 'Tom',
        score = {
            'math': 80,
            'english': 99,
        }
        )
b
len(b)

2

In [354]:
b['score']['science'] = 100
b

{'name': 'Tom', 'score': {'math': 80, 'english': 99, 'science': 100}}

# 0527 수업
\

### 리스트 할당과 복사
copy 함수

In [17]:
a = list(range(5))

In [18]:
a

[0, 1, 2, 3, 4]

In [19]:
b = a

In [20]:
b[0] = 5

In [21]:
a

[5, 1, 2, 3, 4]

### Copy 함수

In [22]:
a = list(range(5))
a

[0, 1, 2, 3, 4]

In [23]:
b = a.copy()
b

[0, 1, 2, 3, 4]

In [24]:
b[0] = 5
print(a)
print(b)

[0, 1, 2, 3, 4]
[5, 1, 2, 3, 4]

# 딕셔너리

##### 딕셔너리 함수 설명
    .key() 
    .value() 
    .items() 키와 값을 쌍으로 튜플로 가져온다.
    .clear() 딕셔너리를 삭제시킨다. 
    딕셔너리의 접근은 key로 한다. 변수('키이름')
    만약 key가 없다면, key error 발생
    따라서 get함수를 사용한다. get함수를 사용하면, 없는 값도 null 값으로 가져온다. 
    또한 get함수를 사용해서 값을 추가할 수 있지만, 기존의 딕셔너리에 추가되지는 않는다.

In [ ]:
# len 함수 키의 개수를 가져온다.
# in 함수 사용 (그 키가 있나요?)

In [26]:
a_list = [1, 2, 3, 4, 5]
a_list

[1, 2, 3, 4, 5]

In [27]:
1 in a_list

True

In [28]:
6 in a_list

False

In [29]:
6 not in  a_list

True

In [37]:
# pop함수, 꺼내서 출력한 뒤, 그 값을 딕셔너리에서 삭제

# 집합
중복이 없는 데이터들의 모임

In [39]:
a = {}
type(a)
# 딕셔너리가 더 많이 사용된다.

dict

In [40]:
s1 = set({1, 2, 3})
print(s1)
print(type(s1))

{1, 2, 3}
<class 'set'>

In [42]:
s2 = {1, 2, 3, 3, 3, 3}
print(s2)
print(type(s2))
# 집합은 중복을 허락하지 않는다.

{1, 2, 3}
<class 'set'>

## 집합연산

In [43]:
# 집합 선언
s1 = {1, 2, 3}
s2 = {2, 4, 5}

In [47]:
# 교집합
print(s1 & s2)
print(s1.intersection(s2))
print(s2.intersection(s1))

{2}
{2}
{2}

In [49]:
# 합집합
print(s1 | s2)
print(s1.union(s2))
print(s2.union(s1))

{1, 2, 3, 4, 5}
{1, 2, 3, 4, 5}
{1, 2, 3, 4, 5}

In [53]:
# 차집합 (차집합에서는 순서 중요)
print(s1 - s2)
print(s1.difference(s2))
print(s2 - s1)
print(s2.difference(s1))

{1, 3}
{1, 3}
{4, 5}
{4, 5}

In [56]:
# in함수
print(1 in s1)
print(4 in s1)

True
False

In [59]:
# 대칭차집합
print(s1 ^ s2)
print(s1.symmetric_difference(s2))
print(s2.symmetric_difference(s1))

{1, 3, 4, 5}
{1, 3, 4, 5}
{1, 3, 4, 5}

In [60]:
# 부분집합, 상위집합
s1 = {1, 2, 3}
s2 = {0, 1, 2, 3, 4, 5}

In [61]:
s1 >= s2

False

In [63]:
s1.issuperset(s2)

False

In [64]:
s2.issuperset(s1)

True

In [70]:
s1 = {1,2,3}
s2 = {4,5,6}

In [71]:
s1.isdisjoint(s2)

True

In [76]:
s1.add(5)
s1

{2, 3, 5}

In [73]:
s1.remove(1)

In [74]:
s1

{2, 3, 5}

In [77]:
s1.discard(3)
s1

{2, 5}