In [135]:
import numpy as np
import pandas as pd
import os 
from os import listdir
import re

base_dir = os.getcwd() # 현재 작업 dir 확인

# 데이터가 들어있는 폴더
data_dir = "C:\\Users\\User\\Documents\\data_weatherforcast\\{}".format('EDA')

# data_dir로 작업하는 폴더 경로 변경
working_dir = os.chdir(data_dir) 

# 전처리할 파일들이 들어있는 폴더의 파일 목록을 list형태로 추출
files = os.listdir(data_dir)

# 데이터 꺼내오기
nowon = pd.read_csv(files[1], index_col=0, encoding='cp949')
jongro = pd.read_csv(files[0], index_col=0, encoding='cp949')
people = pd.read_csv(files[2], index_col=0)

In [136]:
people = pd.read_csv(files[2], index_col=0)

people['STD_YMD'] = people['STD_YMD'] * 100
print(type(people['STD_YMD'][0]))
people['STD_YMD'] = people['STD_YMD'] + people['hour']
print(type(people['STD_YMD'][0]))
people['STD_YMD'] = people['STD_YMD'].astype('str')
print(type(people['STD_YMD'][0]))
people['STD_YMD'] = pd.to_datetime(people['STD_YMD'], format='%Y%m%d%H')
print(type(people['STD_YMD'][0]))
print(people['STD_YMD'][0])
# people['STD_YMD'] = people['STD_YMD'].dt.strftime('%Y%m%d%H')

# people = people.rename(columns={'STD_YMD': '날짜'})
# # people.index = people['날짜']

# drop
people = people.drop(columns=['hour'])

people.head()
# people.tail()

<class 'numpy.int64'>
<class 'numpy.int64'>
<class 'str'>
<class 'pandas._libs.tslibs.timestamps.Timestamp'>
2018-04-01 00:00:00

     STD_YMD    HDONG_CD HDONG_NM  population
0 2018-04-01  1111051500    청운효자동      609.11
1 2018-04-01  1111053000      사직동     1904.32
2 2018-04-01  1111054000      삼청동      216.30
3 2018-04-01  1111055000      부암동     1300.61
4 2018-04-01  1111056000      평창동     2523.88

## 불러온 데이터 처리

In [137]:
people = people.drop(columns=['HDONG_CD'])
people.head()

     STD_YMD HDONG_NM  population
0 2018-04-01    청운효자동      609.11
1 2018-04-01      사직동     1904.32
2 2018-04-01      삼청동      216.30
3 2018-04-01      부암동     1300.61
4 2018-04-01      평창동     2523.88

In [150]:
people = people[people.HDONG_NM != '월계2동']
people = people[people.HDONG_NM != '창신2동']
people = people[people.HDONG_NM != '상계8동']
people = people[people.HDONG_NM != '중계4동']
people = people[people.HDONG_NM != '중계1동']
people = people[people.HDONG_NM != '상계9동']
people = people[people.HDONG_NM != '무악동']
people = people[people.HDONG_NM != '삼청동']
people = people[people.HDONG_NM != '하계2동']
people = people[people.HDONG_NM != '종로5.6가동']
people = people[people.HDONG_NM != '숭인1동']
people.head()

     STD_YMD HDONG_NM  population
0 2018-04-01    청운효자동      609.11
1 2018-04-01      사직동     1904.32
2 2018-04-01      부암동     1300.61
3 2018-04-01      평창동     2523.88
4 2018-04-01      교남동      528.17

In [151]:
jongro = jongro[jongro.HDONG_NM != '천연동']
jongro = jongro[jongro.HDONG_NM != '명동']
jongro.head()

   미세먼지(PM-10)  소음(db)  온도(℃)  습도(%)  초미세먼지(PM-2.5) PM10단계 PM25단계     HDONG_NM
0         45.0    53.0   14.0   62.0           23.0     보통     보통  종로1.2.3.4가동
1         45.0    52.0   13.0   64.0           21.0     보통     보통  종로1.2.3.4가동
2         46.0    51.0   14.0   63.0           21.0     보통     보통  종로1.2.3.4가동
3         48.0    51.0   14.0   62.0           23.0     보통     보통  종로1.2.3.4가동
4         49.0    51.0   14.0   58.0           24.0     보통     보통  종로1.2.3.4가동

In [152]:
people.index = range(len(people))
people.head()

     STD_YMD HDONG_NM  population
0 2018-04-01    청운효자동      609.11
1 2018-04-01      사직동     1904.32
2 2018-04-01      부암동     1300.61
3 2018-04-01      평창동     2523.88
4 2018-04-01      교남동      528.17

In [153]:
nowon.index = range(len(nowon))
jongro.index = range(len(jongro))

In [154]:
people.head()

     STD_YMD HDONG_NM  population
0 2018-04-01    청운효자동      609.11
1 2018-04-01      사직동     1904.32
2 2018-04-01      부암동     1300.61
3 2018-04-01      평창동     2523.88
4 2018-04-01      교남동      528.17

In [155]:
nowon.head()

   미세먼지(PM-10)  소음(db)  온도(℃)  습도(%)  초미세먼지(PM-2.5) PM10단계 PM25단계 HDONG_NM
0         66.0    51.0   15.0   51.0           38.0     보통     나쁨     상계2동
1         66.0    51.0   14.0   51.0           37.0     보통     나쁨     상계2동
2         67.0    50.0   14.0   52.0           33.0     보통     보통     상계2동
3         65.0    50.0   14.0   53.0           32.0     보통     보통     상계2동
4         64.0    50.0   14.0   53.0           37.0     보통     나쁨     상계2동

In [156]:
nowon['HDONG_NM'].value_counts()

월계1동      8760
상계2동      8760
중계2.3동    8760
공릉2동      8760
상계3.4동    8760
공릉1동      8760
상계6.7동    8760
상계10동     8760
하계1동      8760
중계본동      8760
상계5동      8760
상계1동      8760
월계3동      8760
Name: HDONG_NM, dtype: int64

In [157]:
jongro['HDONG_NM'].value_counts()

교남동            8760
청운효자동          8760
창신1동           8760
가회동            8760
숭인2동           8760
사직동            8760
혜화동            8760
평창동            8760
부암동            8760
이화동            8760
창신3동           8760
종로1.2.3.4가동    8760
Name: HDONG_NM, dtype: int64

In [158]:
people['HDONG_NM'].value_counts()

청운효자동          8760
공릉2동           8760
이화동            8760
상계1동           8760
상계5동           8760
중계본동           8760
혜화동            8760
상계10동          8760
사직동            8760
공릉1동           8760
상계3.4동         8760
가회동            8760
상계2동           8760
중계2.3동         8760
월계1동           8760
교남동            8760
창신3동           8760
월계3동           8760
부암동            8760
평창동            8760
하계1동           8760
상계6.7동         8760
숭인2동           8760
창신1동           8760
종로1.2.3.4가동    8760
Name: HDONG_NM, dtype: int64

In [159]:
len(nowon) + len(jongro)

219000

In [160]:
len(people)

219000

In [162]:
nowon_x_jongro = pd.DataFrame(columns=['미세먼지(PM-10)', '소음(db)', '온도(℃)', '습도(%)',
                                       '초미세먼지(PM-2.5)', 'PM10단계', 'PM25단계', 'HDONG_NM'])

nowon_x_jongro = nowon_x_jongro.append(nowon)
nowon_x_jongro = nowon_x_jongro.append(jongro)
nowon_x_jongro.head()

   미세먼지(PM-10)  소음(db)  온도(℃)  습도(%)  초미세먼지(PM-2.5) PM10단계 PM25단계 HDONG_NM
0         66.0    51.0   15.0   51.0           38.0     보통     나쁨     상계2동
1         66.0    51.0   14.0   51.0           37.0     보통     나쁨     상계2동
2         67.0    50.0   14.0   52.0           33.0     보통     보통     상계2동
3         65.0    50.0   14.0   53.0           32.0     보통     보통     상계2동
4         64.0    50.0   14.0   53.0           37.0     보통     나쁨     상계2동

In [164]:
people.columns

Index(['STD_YMD', 'HDONG_NM', 'population'], dtype='object')

In [165]:
nowon_x_jongro.columns

Index(['미세먼지(PM-10)', '소음(db)', '온도(℃)', '습도(%)', '초미세먼지(PM-2.5)', 'PM10단계',
       'PM25단계', 'HDONG_NM'],
      dtype='object')

In [166]:
nowon_x_jongro = nowon_x_jongro.drop(columns=['습도(%)'])
nowon_x_jongro.columns

Index(['미세먼지(PM-10)', '소음(db)', '온도(℃)', '초미세먼지(PM-2.5)', 'PM10단계', 'PM25단계',
       'HDONG_NM'],
      dtype='object')

In [168]:
nowon_x_jongro = nowon_x_jongro.drop(columns=['소음(db)'])
nowon_x_jongro.columns

Index(['미세먼지(PM-10)', '온도(℃)', '초미세먼지(PM-2.5)', 'PM10단계', 'PM25단계',
       'HDONG_NM'],
      dtype='object')

In [170]:
nowon_x_jongro = nowon_x_jongro.drop(columns=['온도(℃)'])
nowon_x_jongro.columns

Index(['미세먼지(PM-10)', '초미세먼지(PM-2.5)', 'PM10단계', 'PM25단계', 'HDONG_NM'], dtype='object')

In [172]:
nowon_x_jongro = nowon_x_jongro.drop(columns=['PM10단계', 'PM25단계'])
nowon_x_jongro.columns

Index(['미세먼지(PM-10)', '초미세먼지(PM-2.5)', 'HDONG_NM'], dtype='object')

In [174]:
total = pd.merge(nowon_x_jongro, people)
total.head()

MemoryError: