순위
제목
코드
내용
줄거리
평점
댓글

In [1]:
import requests
from bs4 import BeautifulSoup
import MySQLdb
from urllib import parse

In [2]:
db = MySQLdb.connect(host="localhost",  # host = localhost # 127.0.0.1
                     user="root",       # username  # root
                     passwd="1234",     # password  # 1234
                     db="naver_movie")  # DB NAME   # 자신이 만든 데이터베이스 이름 
# connect() 함수: 인자가 4개 들어갑니다.

db.set_character_set('utf8')

In [3]:
db

In [4]:
# 데이터베이스 커서(Cursor)는 일련의 데이터에 순차적으로 액세스할 때 검색 및 "현재 위치"를 포함하는 데이터 요소이다.
cur = db.cursor()
# https://movie.naver.com/movie/bi/mi/basic.nhn?code=161967
cur

In [5]:
# 데이터 베이스 설계
# 우리는 영화정보, 댓글의 관계를 먼저 파악해야합니다. 
# 영화가 한개가 댓글을 여러개 가질 수 있습니다.
# 그러나 댓글 하나가 영화 여러개를 가질 수 없습니다. 
# 따라서 1 대 N 관계 
query = """
        CREATE TABLE IF NOT EXISTS naver_movie
            (code    INTEGER      NOT NULL      PRIMARY KEY,
             created_at    DATETIME DEFAULT CURRENT_TIMESTAMP,
             title   VARCHAR(255) NOT NULL,
             story   TEXT,
             open_date  DATE)
             ENGINE INNODB;
        """ # ENGINE INNODB: 데이터베이스 타입
cur.execute(query)

C:\ProgramData\Anaconda3\lib\site-packages\ipykernel_launcher.py:15: Warning: (1050, "Table 'naver_movie' already exists")
  from ipykernel import kernelapp as app

0

In [6]:
query = """
        CREATE TABLE IF NOT EXISTS movie_comment(
            score    INTEGER    NOT NULL,
            conetent TEXT       NOT NULL,
            movie_code INTEGER,
            writer  VARCHAR(100),
            write_date DATETIME,
            created_at DATETIME DEFAULT CURRENT_TIMESTAMP,
            PRIMARY KEY (writer, write_date),
            FOREIGN KEY(movie_code)
            REFERENCES naver_movie(code) on delete cascade)
            ENGINE INNODB;
            ;
"""
cur.execute(query)

C:\ProgramData\Anaconda3\lib\site-packages\ipykernel_launcher.py:15: Warning: (1050, "Table 'movie_comment' already exists")
  from ipykernel import kernelapp as app

0

# Naver_Movie_Crawling
### 실습

In [ ]:
BASE_URL = 'https://movie.naver.com/movie/sdb/rank/rmovie.nhn'
params = {
    'sdb': 'sdb',
    'rank': 'rank',
    'rmovie.nhn': 'rmovie.nhn'
}

resp = requests.get(BASE_URL, params)
# resp
# resp.url
# resp.content
soup = BeautifulSoup(resp.content, 'html.parser')
# soup

In [ ]:
ranking = soup.find('tbody').find_all('tr')
ranking

In [ ]:
movie_list = []

for tr in ranking:
    movie_dict = {}
    
    try:
        a_tag = tr.find('td', class_="title").find('a')
        # print(title)
        link = a_tag['href']
        title = a_tag['title']
        code = link[28:]
        
        movie_dict['title'] = title
        movie_dict['link'] = link
        movie_dict['code'] = code
        movie_list.append(movie_dict)

    
    except AttributeError:
        pass
    
    
    
    
print(movie_list)

# Naver_Movie_해답

In [7]:
import requests
from bs4 import BeautifulSoup
from urllib import parse

In [8]:
def get_movie_list(start_page=1, end_page=1):
    URL = "https://movie.naver.com/movie/sdb/rank/rmovie.nhn"
    params = {
        'sel':'pnt',
        'date':20190616
    }
    
    movie_list = []
    for i in range(start_page, end_page+1):
        params['page'] = i
        
        resp = requests.get(URL, params)
        soup = BeautifulSoup(resp.content)
        
        list_ranking = soup.find(class_='list_ranking').find_all('tr')
        for movie_tr in list_ranking:
            try:
                code = movie_tr.find('a')['href'].split('=')[-1]
                title = movie_tr.find('a').text
            
                movie_list.append({
                    'code':code,
                    'title':title
                })
            except Exception:
                pass
            
    return movie_list

In [9]:
get_movie_list()

[{'code': '171539', 'title': '그린 북'},
 {'code': '174830', 'title': '가버나움'},
 {'code': '144906', 'title': '베일리 어게인'},
 {'code': '163788', 'title': '알라딘'},
 {'code': '169240', 'title': '아일라'},
 {'code': '151196', 'title': '원더'},
 {'code': '157243', 'title': '당갈'},
 {'code': '156464', 'title': '보헤미안 랩소디'},
 {'code': '17421', 'title': '쇼생크 탈출'},
 {'code': '154667', 'title': '덕구'},
 {'code': '10200', 'title': '터미네이터 2'},
 {'code': '69105', 'title': '월-E'},
 {'code': '10016', 'title': '나 홀로 집에'},
 {'code': '18988', 'title': '라이언 일병 구하기'},
 {'code': '22126', 'title': '인생은 아름다워'},
 {'code': '24452', 'title': '매트릭스'},
 {'code': '10102', 'title': '사운드 오브 뮤직'},
 {'code': '136900', 'title': '어벤져스: 엔드게임'},
 {'code': '10002', 'title': '빽 투 더 퓨쳐'},
 {'code': '17159', 'title': '포레스트 검프'},
 {'code': '82432', 'title': '헬프'},
 {'code': '92125', 'title': '헌터 킬러'},
 {'code': '29217', 'title': '글래디에이터'},
 {'code': '35901', 'title': '살인의 추억'},
 {'code': '66463', 'title': '토이 스토리 3'},
 {'code': '32686', 'title': '센과 치히로의 행방불명'},
 {'code': '106360', 'title': '위대한 쇼맨'},
 {'code': '10048', 'title': '죽은 시인의 사회'},
 {'code': '17170', 'title': '레옹'},
 {'code': '35939', 'title': '클래식'},
 {'code': '161850', 'title': '아이 캔 스피크'},
 {'code': '31796', 'title': '반지의 제왕: 왕의 귀환'},
 {'code': '183132', 'title': '교회오빠'},
 {'code': '31162', 'title': '캐스트 어웨이'},
 {'code': '134899', 'title': '동주'},
 {'code': '17541', 'title': '굿바이 마이 프랜드'},
 {'code': '12482', 'title': '여인의 향기'},
 {'code': '130850', 'title': '주토피아'},
 {'code': '73372', 'title': '세 얼간이'},
 {'code': '147092', 'title': '히든 피겨스'},
 {'code': '37886', 'title': '클레멘타인'},
 {'code': '39636', 'title': '지금, 만나러 갑니다'},
 {'code': '14450', 'title': '쉰들러 리스트'},
 {'code': '14448', 'title': '패왕별희'},
 {'code': '18543', 'title': '서유기 2 - 선리기연'},
 {'code': '19079', 'title': '굿 윌 헌팅'},
 {'code': '73476', 'title': '그대를 사랑합니다'},
 {'code': '87566', 'title': '언터처블: 1%의 우정'},
 {'code': '154573', 'title': '다시 태어나도 우리'},
 {'code': '18847', 'title': '타이타닉'}]

In [10]:
def get_movie_info(movie):
    code = movie.get('code')
    title = movie.get('title')
    
    base_url = 'https://movie.naver.com/movie/bi/mi/basic.nhn'
    params = {
        'code': code,
    }
    
    resp = requests.get(base_url, params)
    soup = BeautifulSoup(resp.content)
    
    open_date_tag = soup.find('dl', class_='info_spec').find('dd').find_all('span')[-1]

    open_date = ""
    for date in open_date_tag.find_all('a'):
        open_date += date.text
    
    open_date = "-".join(open_date.strip().split('.'))
    
    story = soup.find('div', class_='story_area')
    
    movie['story'] = story
    movie['open_date'] = open_date
    
    return movie

In [11]:
movie_list = get_movie_list()
movie_list[0]

{'code': '171539', 'title': '그린 북'}

In [12]:
get_movie_info(movie_list[0])

{'code': '171539', 'title': '그린 북', 'story': <div class="story_area">
 <div class="title_area">
 <h4 class="h_story"><strong class="blind">줄거리</strong></h4>
 </div>
 <h5 class="h_tx_story">언제 어디서든 바른 생활! 완벽한 천재 뮤지션 ‘돈 셜리’<br/>
 원칙보다 반칙! 다혈질 운전사 ‘토니’<br/>
 취향도, 성격도 완벽히 다른 두 남자의 특별한 우정이 시작된다!</h5>
 <p class="con_tx">1962년 미국, 입담과 주먹만 믿고 살아가던 토니 발레롱가(비고 모텐슨)는 교양과 우아함 그 자체인
 <br/> 천재 피아니스트 돈 셜리(마허샬라 알리) 박사의 운전기사 면접을 보게 된다.
 <br/>
 <br/> 백악관에도 초청되는 등 미국 전역에서 콘서트 요청을 받으며 명성을 떨치고 있는 돈 셜리는
 <br/> 위험하기로 소문난 미국 남부 투어 공연을 떠나기로 결심하고,
 <br/> 투어 기간 동안 자신의 보디가드 겸 운전기사로 토니를 고용한다.
 <br/>
 <br/> 거친 인생을 살아온 토니 발레롱가와 교양과 기품을 지키며 살아온 돈 셜리 박사.
 <br/> 생각, 행동, 말투, 취향까지 달라도 너무 다른 두 사람은
 <br/> 그들을 위한 여행안내서 ‘그린북’에 의존해 특별한 남부 투어를 시작하는데…</p>
 <button class="story_more" id="toggleMakingnoteButton" onclick="storyAndNote.toggleMakingnote();" type="button"><em class="blind">제작노트 보기</em></button><!-- N=a:mai.story -->
 </div>, 'open_date': '2019-01-09'}

In [20]:
# query = """
#         CREATE TABLE IF NOT EXISTS naver_movie
#             (code    INTEGER      NOT NULL      PRIMARY KEY,
#              created_at    DATETIME DEFAULT CURRENT_TIMESTAMP,
#              title   VARCHAR(100) NOT NULL,
#              story   TEXT,
#              open_date  DATE)
#         """

def insert_movie(movie):
    code = movie.get('code')
    title = movie.get('title')
    story = movie.get('story')
    
    story = str(story)
    
    open_date = movie.get('open_date')
    
    story = db.escape_string(story)
    
    query = """
    INSERT INTO naver_movie
    (code, title, story, open_date)
    VALUES('{0}', '{1}', %s, '{2}')
    """.format(code, title, open_date)
    print(query)
    cur.execute(query, [story])
    db.commit()

In [21]:
sample_movie = get_movie_info(movie_list[0])
sample_movie

{'code': '171539', 'title': '그린 북', 'story': <div class="story_area">
 <div class="title_area">
 <h4 class="h_story"><strong class="blind">줄거리</strong></h4>
 </div>
 <h5 class="h_tx_story">언제 어디서든 바른 생활! 완벽한 천재 뮤지션 ‘돈 셜리’<br/>
 원칙보다 반칙! 다혈질 운전사 ‘토니’<br/>
 취향도, 성격도 완벽히 다른 두 남자의 특별한 우정이 시작된다!</h5>
 <p class="con_tx">1962년 미국, 입담과 주먹만 믿고 살아가던 토니 발레롱가(비고 모텐슨)는 교양과 우아함 그 자체인
 <br/> 천재 피아니스트 돈 셜리(마허샬라 알리) 박사의 운전기사 면접을 보게 된다.
 <br/>
 <br/> 백악관에도 초청되는 등 미국 전역에서 콘서트 요청을 받으며 명성을 떨치고 있는 돈 셜리는
 <br/> 위험하기로 소문난 미국 남부 투어 공연을 떠나기로 결심하고,
 <br/> 투어 기간 동안 자신의 보디가드 겸 운전기사로 토니를 고용한다.
 <br/>
 <br/> 거친 인생을 살아온 토니 발레롱가와 교양과 기품을 지키며 살아온 돈 셜리 박사.
 <br/> 생각, 행동, 말투, 취향까지 달라도 너무 다른 두 사람은
 <br/> 그들을 위한 여행안내서 ‘그린북’에 의존해 특별한 남부 투어를 시작하는데…</p>
 <button class="story_more" id="toggleMakingnoteButton" onclick="storyAndNote.toggleMakingnote();" type="button"><em class="blind">제작노트 보기</em></button><!-- N=a:mai.story -->
 </div>, 'open_date': '2019-01-09'}

In [22]:
insert_movie(sample_movie)

    INSERT INTO naver_movie
    (code, title, story, open_date)
    VALUES('171539', '그린 북', %s, '2019-01-09')

IntegrityError: (1062, "Duplicate entry '171539' for key 'PRIMARY'")

In [24]:
from MySQLdb import IntegrityError

movie_list = get_movie_list()
for movie in movie_list:
    
    movie = get_movie_info(movie)
    try:
        insert_movie(movie)
    except IntegrityError :
        pass
    except Exception:
        pass

    INSERT INTO naver_movie
    (code, title, story, open_date)
    VALUES('171539', '그린 북', %s, '2019-01-09')


    INSERT INTO naver_movie
    (code, title, story, open_date)
    VALUES('174830', '가버나움', %s, '2019-01-24')


    INSERT INTO naver_movie
    (code, title, story, open_date)
    VALUES('144906', '베일리 어게인', %s, '2018-11-22')


    INSERT INTO naver_movie
    (code, title, story, open_date)
    VALUES('163788', '알라딘', %s, '2019-05-23')


    INSERT INTO naver_movie
    (code, title, story, open_date)
    VALUES('169240', '아일라', %s, '2018-06-21')


    INSERT INTO naver_movie
    (code, title, story, open_date)
    VALUES('151196', '원더', %s, '2017-12-27')


    INSERT INTO naver_movie
    (code, title, story, open_date)
    VALUES('157243', '당갈', %s, '2018-04-25')


    INSERT INTO naver_movie
    (code, title, story, open_date)
    VALUES('156464', '보헤미안 랩소디', %s, '2018-10-31')


    INSERT INTO naver_movie
    (code, title, story, open_date)
    VALUES('17421', '쇼생크 탈출', %s, '2016-02-24 1995-01-28')


    INSERT INTO naver_movie
    (code, title, story, open_date)
    VALUES('154667', '덕구', %s, '2018-04-05')


    INSERT INTO naver_movie
    (code, title, story, open_date)
    VALUES('10200', '터미네이터 2', %s, '2019-102015-07-162013-11-14 1991-07-06')


    INSERT INTO naver_movie
    (code, title, story, open_date)
    VALUES('69105', '월-E', %s, '2008-08-06')


    INSERT INTO naver_movie
    (code, title, story, open_date)
    VALUES('10016', '나 홀로 집에', %s, '1991-07-06')


    INSERT INTO naver_movie
    (code, title, story, open_date)
    VALUES('18988', '라이언 일병 구하기', %s, '1998-09-12')


    INSERT INTO naver_movie
    (code, title, story, open_date)
    VALUES('22126', '인생은 아름다워', %s, '2016-04-13 1999-03-06')


    INSERT INTO naver_movie
    (code, title, story, open_date)
    VALUES('24452', '매트릭스', %s, '2016-09-22 1999-05-15')


    INSERT INTO naver_movie
    (code, title, story, open_date)
    VALUES('10102', '사운드 오브 뮤직', %s, '2017-02-022012-01-231995-09-301978-02-04 1969-10-29')


    INSERT INTO naver_movie
    (code, title, story, open_date)
    VALUES('136900', '어벤져스: 엔드게임', %s, '2019-04-24')


    INSERT INTO naver_movie
    (code, title, story, open_date)
    VALUES('10002', '빽 투 더 퓨쳐', %s, '2015-10-21 1987-07-17')


    INSERT INTO naver_movie
    (code, title, story, open_date)
    VALUES('17159', '포레스트 검프', %s, '2016-09-07 1994-10-15')


    INSERT INTO naver_movie
    (code, title, story, open_date)
    VALUES('82432', '헬프', %s, '2011-11-03')


    INSERT INTO naver_movie
    (code, title, story, open_date)
    VALUES('92125', '헌터 킬러', %s, '2018-12-06')


    INSERT INTO naver_movie
    (code, title, story, open_date)
    VALUES('29217', '글래디에이터', %s, '2000-06-03')


    INSERT INTO naver_movie
    (code, title, story, open_date)
    VALUES('35901', '살인의 추억', %s, '2003-04-25')


    INSERT INTO naver_movie
    (code, title, story, open_date)
    VALUES('66463', '토이 스토리 3', %s, '2010-08-05')


    INSERT INTO naver_movie
    (code, title, story, open_date)
    VALUES('32686', '센과 치히로의 행방불명', %s, '2015-02-05 2002-06-28')


    INSERT INTO naver_movie
    (code, title, story, open_date)
    VALUES('106360', '위대한 쇼맨', %s, '2017-12-20')


    INSERT INTO naver_movie
    (code, title, story, open_date)
    VALUES('10048', '죽은 시인의 사회', %s, '2016-08-17 1990-05-19')


    INSERT INTO naver_movie
    (code, title, story, open_date)
    VALUES('17170', '레옹', %s, '2013-04-111998-01-24 1995-02-18')


    INSERT INTO naver_movie
    (code, title, story, open_date)
    VALUES('35939', '클래식', %s, '2003-01-30')


    INSERT INTO naver_movie
    (code, title, story, open_date)
    VALUES('161850', '아이 캔 스피크', %s, '2017-09-21')


    INSERT INTO naver_movie
    (code, title, story, open_date)
    VALUES('31796', '반지의 제왕: 왕의 귀환', %s, '2017-01-25 2003-12-17')


    INSERT INTO naver_movie
    (code, title, story, open_date)
    VALUES('183132', '교회오빠', %s, '2019-05-16')


    INSERT INTO naver_movie
    (code, title, story, open_date)
    VALUES('31162', '캐스트 어웨이', %s, '2001-02-03')


    INSERT INTO naver_movie
    (code, title, story, open_date)
    VALUES('134899', '동주', %s, '2016-02-17')


    INSERT INTO naver_movie
    (code, title, story, open_date)
    VALUES('17541', '굿바이 마이 프랜드', %s, '1996-08-05')


    INSERT INTO naver_movie
    (code, title, story, open_date)
    VALUES('12482', '여인의 향기', %s, '1993-03-20')


    INSERT INTO naver_movie
    (code, title, story, open_date)
    VALUES('130850', '주토피아', %s, '2016-02-17')


    INSERT INTO naver_movie
    (code, title, story, open_date)
    VALUES('73372', '세 얼간이', %s, '2016-11-09 2011-08-18')


    INSERT INTO naver_movie
    (code, title, story, open_date)
    VALUES('147092', '히든 피겨스', %s, '2017-03-23')


    INSERT INTO naver_movie
    (code, title, story, open_date)
    VALUES('37886', '클레멘타인', %s, '2004-05-21')


    INSERT INTO naver_movie
    (code, title, story, open_date)
    VALUES('39636', '지금, 만나러 갑니다', %s, '2018-04-19 2005-03-25')


    INSERT INTO naver_movie
    (code, title, story, open_date)
    VALUES('14450', '쉰들러 리스트', %s, '2019-01-24 1994-03-05')


    INSERT INTO naver_movie
    (code, title, story, open_date)
    VALUES('14448', '패왕별희', %s, '1993-12-24')


    INSERT INTO naver_movie
    (code, title, story, open_date)
    VALUES('18543', '서유기 2 - 선리기연', %s, '2010-06-01')


    INSERT INTO naver_movie
    (code, title, story, open_date)
    VALUES('19079', '굿 윌 헌팅', %s, '2016-08-17 1998-03-21')


    INSERT INTO naver_movie
    (code, title, story, open_date)
    VALUES('73476', '그대를 사랑합니다', %s, '2011-02-17')


    INSERT INTO naver_movie
    (code, title, story, open_date)
    VALUES('87566', '언터처블: 1%의 우정', %s, '2012-03-22')


    INSERT INTO naver_movie
    (code, title, story, open_date)
    VALUES('154573', '다시 태어나도 우리', %s, '2017-09-27')


    INSERT INTO naver_movie
    (code, title, story, open_date)
    VALUES('18847', '타이타닉', %s, '2018-02-012012-04-05 1998-02-20')

In [52]:
def get_comment_list(code, last_page=1):
    url = 'https://movie.naver.com/movie/bi/mi/pointWriteFormList.nhn'
    params = {
        'code': code,
        'type': 'after',
        'order': 'newest'
    }
    result_list = []
    for page in range(1, last_page+1):
        params['page'] = page
        
        resp = requests.get(url, params)
        soup = BeautifulSoup(resp.content)
        reple_list = soup.find('div', class_='score_result').find_all('li')
        
        for reple in reple_list:
            score = reple.find(class_='star_score').text.strip()
            content = reple.find('p')
            name_n_date = content.find_next_sibling('dl').find_all('em')
            
            content = content.text
            
            nickname = name_n_date[0]
            date = name_n_date[1]
            result_list.append({
                'write_name':nickname,
                'write_date': date.text,
                'content': content,
                'score': score,
                'code': code
            })
    return result_list

In [53]:
get_comment_list('156464')

[{'write_name': <em>
  <a href="#" onclick="javascript:showPointListByNid(15815091, 'after');parent.clickcr(this, 'ara.uid', '', '', event); return false;" target="_top">
  <span>신영(youn****)</span>
  </a>
  </em>,
  'write_date': '2019.06.16 18:48',
  'content': '관람객난 이미 퀸을 알고 있었다  ',
  'score': '10',
  'code': '156464'},
 {'write_name': <em>
  <a href="#" onclick="javascript:showPointListByNid(15810155, 'after');parent.clickcr(this, 'ara.uid', '', '', event); return false;" target="_top">
  <span>태바기(nogo****)</span>
  </a>
  </em>,
  'write_date': '2019.06.15 00:02',
  'content': '진짜 공감이다 이거!!!!  ',
  'score': '10',
  'code': '156464'},
 {'write_name': <em>
  <a href="#" onclick="javascript:showPointListByNid(15806789, 'after');parent.clickcr(this, 'ara.uid', '', '', event); return false;" target="_top">
  <span>소(aksg****)</span>
  </a>
  </em>,
  'write_date': '2019.06.13 23:50',
  'content': '관람객와 보다가 울었음..너무 슬펐음 ..진짜루다  ',
  'score': '10',
  'code': '156464'},
 {'write_name': <em>
  <a href="#" onclick="javascript:showPointListByNid(15806256, 'after');parent.clickcr(this, 'ara.uid', '', '', event); return false;" target="_top">
  <span>양찬호(yang****)</span>
  </a>
  </em>,
  'write_date': '2019.06.13 21:22',
  'content': '최고의 음악영화이다 레알  ',
  'score': '10',
  'code': '156464'},
 {'write_name': <em>
  <a href="#" onclick="javascript:showPointListByNid(15804249, 'after');parent.clickcr(this, 'ara.uid', '', '', event); return false;" target="_top">
  <span>wing****</span>
  </a>
  </em>,
  'write_date': '2019.06.13 03:43',
  'content': '퀸 노래를 하도 많이 들어서  영화를 보면서 지겨울줄 알았는데영화 끝나고  유튜브로  음악 풀영상 듣고있습니다.  ',
  'score': '8',
  'code': '156464'},
 {'write_name': <em>
  <a href="#" onclick="javascript:showPointListByNid(15802124, 'after');parent.clickcr(this, 'ara.uid', '', '', event); return false;" target="_top">
  <span>ku07****</span>
  </a>
  </em>,
  'write_date': '2019.06.12 15:16',
  'content': '관람객프레디형 치아가 섹시하다고 생각이 됩니다  ',
  'score': '10',
  'code': '156464'},
 {'write_name': <em>
  <a href="#" onclick="javascript:showPointListByNid(15801435, 'after');parent.clickcr(this, 'ara.uid', '', '', event); return false;" target="_top">
  <span>syl0****</span>
  </a>
  </em>,
  'write_date': '2019.06.12 10:59',
  'content': '최고의 영화 내 인생 영화  ',
  'score': '10',
  'code': '156464'},
 {'write_name': <em>
  <a href="#" onclick="javascript:showPointListByNid(15801196, 'after');parent.clickcr(this, 'ara.uid', '', '', event); return false;" target="_top">
  <span>고정미(jung****)</span>
  </a>
  </em>,
  'write_date': '2019.06.12 06:35',
  'content': '6만명만 더  봤으면 1000만인데 아깝네....  ',
  'score': '10',
  'code': '156464'},
 {'write_name': <em>
  <a href="#" onclick="javascript:showPointListByNid(15798135, 'after');parent.clickcr(this, 'ara.uid', '', '', event); return false;" target="_top">
  <span>2001****</span>
  </a>
  </em>,
  'write_date': '2019.06.10 21:52',
  'content': '이제서야 겨우 봤다...기대 그 이상이다...몇번을 울컥했는지 모른다..역시 명불허전...그시절 프레드머큐리를 몰랐던 내자신이 부끄러워진다  ',
  'score': '10',
  'code': '156464'},
 {'write_name': <em>
  <a href="#" onclick="javascript:showPointListByNid(15797836, 'after');parent.clickcr(this, 'ara.uid', '', '', event); return false;" target="_top">
  <span>bluestar(kwon****)</span>
  </a>
  </em>,
  'write_date': '2019.06.10 19:40',
  'content': '크크끄크끄크크끄크크  ',
  'score': '10',
  'code': '156464'}]

In [58]:
def insert_comment(comment):
    score = comment.get('score')
    writer = comment.get('writer')
    write_date = comment.get('write_date')
    write_date = '-'.join(write_date.split('.'))
    
    content = comment.get('content')
    movie_code = comment.get('code')
    

    
    query = """
    INSERT INTO movie_comment(score, writer, write_date, conetent, movie_code)
    VALUES('{}', '{}', '{}', '{}', '{}')
    """.format(score, writer, write_date, content, movie_code)
    
    cur.execute(query)
    db.commit()

In [59]:
comment_list = get_comment_list('171539')
for comment in comment_list:
    insert_comment(comment)

In [61]:
for movie in movie_list:
    try:
        comment_list = get_comment_list(movie['code'])
        for comment in comment_list:
            insert_comment(comment)
    except Exception:
        pass