# 변수(Variable)

## 숫자의 자료형
### Intenger: 정수형

In [2]:
# 변수선언
# 변수에는 기본적으로 소문자와 대문자를 구분한다.
# 또한, python에서 사용되는 연산자, 기본 함수값들은 사용이 불가능하다. 
# _ 사용은 가능하다.
a = 2 
print(a)
print(type(a))

2
<class 'int'>

### Float - 실수형

In [3]:
# 변수 재선언
a = 2.0 # 이 순간, 윗 코드에서 선언한 a=2 는 사라지고 a=2.0이라는 새로운 변수가 선언된다. 
print(a)
print(type(a))

2.0
<class 'float'>

### 숫자의 연산 - 정수의 연산

In [5]:
# 정수의 연산은 기본적으로 space, 즉 공백에 영향을 받지않는다.
# 따라서 a+b 와 a + b 는 동일하다.
# 연산자로는 +,-,*,/,**,//,% 가 존재한다.
# **(제곱)은 곱하기보다 우선된다.
# 나머지를 구하는 %는 기본적으로 홀수,짝수, 공배수등을 계산하기 위해 활용된다.
a = 3
b = 2

print(a+b)
print(a**b)
print(a/b)
print(a//b)
print(a%b)

# 5
# 9
# 1.5
# 1
# 1

5
9
1.5
1
1

### 숫자의 연산 - 실수의 연산

In [1]:
# 정수와 실수의 계산은, '묵시적형변환'이 일어나고, 실수의 계산으로 변경된다.
# 순서는 형변환 > 계산의 순서로 진행된다. 
a = 3
b = 2.0
print(a+b)
print(type(a+b))

5.0
<class 'float'>

### 형변환 - Cast (type change)

In [2]:
a = 3
b = 2.0
print(type(a))
print(type(b))

<class 'int'>
<class 'float'>

#### 명시적 형변환

In [3]:
# a를 float형으로,
a = float(a)

# b를 int형으로 변환될때, 뒤의 소수점은 그냥 사라진다.
# 이 사라진 소수점은 후에 다시 float형으로 바꿔도 돌아오지 않는다.
b = int(b)

print(a)
print(b)

3.0
2

3.0
2

In [36]:
b = float(b)
b

3.0

#### 연습문제 1
a = 7, b = 3.0 로 초기화 하고 a를 b로 나누었을 때 몫과 나머지를 각각 c와 d 라는 변수에 초기화한 후 출력하라.

그리고 e라는 변수에 a의 b제곱을 초기화하고 출력하라.

In [10]:
# 변수선언
a = 7
b = 3.0

# 계산시작이 선언되는 순간, 형변환이 발생하고, 계산이 진행된다.
c = a//b
d = a%b
print(c)
print(d)

# 그리고
e = a**b
print(e)

2.0
1.0
343.0

#### 연습문제. 2
a="90:30:80"이고 :을 기준으로 각각 수학점수, 영어점수, 과학점수이다.  
**문자열 인덱싱**을 이용해 각 점수를 각각 math, english, science 변수에 저장하고,  
average 란 변수에 평균값을 저장하고 출력하시오.

In [83]:
a = "90:30:80"

math = a[:2]
english = a[3:5]
science = a[6:]
# print(math)
# print(english)
# print(science)
# print(type(math)) # type이 string인것을 확인한다. 명시적 형변환을 통해 형변환 시작
math = float(math)
english = float(english)
science = float(science)

average = (math+english+science) / 3
average = int(average)
print(average)

66

## Bool 자료형 (True&False)

In [40]:
# Boolean 자료형은 기본적으로 if문과 while문과 같은 조건문에서 자주 사용된다. 
# True, False 는 그 자체로 이미 의미가 내장되어 있기 때문에, 변수로 사용할 수 없다. 
a = True
b = False
print(a)
print(type(a))
print(b)
print(type(b))

True
<class 'bool'>
False
<class 'bool'>

In [42]:
# Boolean에서 어느 때 False가 출력되는가?
# 1. 숫자자료형은 값이 0일때 False가 출력된다.
a = 0
print(bool(a))

# 2. 리스트, 튜플, 딕셔너리, 집합과 같은 시퀀스 자료형은 안에 요소가 없을 때 False가 출력된다.
a = []
b = {}
print(bool(a))
print(bool(b))

False
False
False

## 문자열 자료형
### String

In [43]:
# quote 는 인용문이라는 뜻을 가지고 있다.
quote = "나는 생각한다. 고로 존재한다."
print(quote)
print(type(quote))

나는 생각한다. 고로 존재한다.
<class 'str'>

In [44]:
introduce = """데카르트는 1596년 3월 31일 투렌 지방(Touraine)의 투르 인근에 있는 소도시 라에
(La Haye, 현재는 그의 이름을 따서 데카르트 시로 개명함[1])의 법관 귀족 가문에서 태어났다. 

그의 아버지는 브르타뉴 지역 렌(Renne)시의 시의원이었으며, 어머니는 그가 태어난 지 14달이 못 되어 세상을 떠났다. 
이후 그는 외할머니 밑에서 자랐고, 어린 시절 몸이 무척 허약했다고 한다. 
1606년 그는 예수회가 운영하는 라 플레쉬 콜레주(Collège la Flèche)에 입학하여 1614년까지 8년간에 걸쳐 철저하게 중세식 그리고 인본주의 교육을 받았다. 
5년간 라틴어, 수사학, 고전 작가 수업을 받았고 3년간 변증론에서 비롯하여 자연철학, 형이상학 그리고 윤리학을 포괄하는 철학 수업을 받았다.
그가 이 시기에 받은 교육은 후에 그의 저서 여기저기에 흔적을 남기게 되는데 특히 《방법서설》에 많은 영향을 끼쳤다. 
라 플레쉬를 졸업한 후 푸아티에(Poitiers) 대학 법학과에 입학해 수학·자연 과학·법률학·스콜라 철학 등을 배우고, 
수학만이 명증적인 지식이라고 생각하였다. 1616년에 리상스(Licence)를 취득한다. 
이후 그는 '세상이라는 커다란 책'으로부터 실질적인 지식을 얻고자 학교 밖으로 나갔고, 다시는 제도권 교육으로 돌아오지 않았다.
졸업 후 지원병으로 입대하여 네덜란드에 갔으며, 30년 전쟁이 일어나자 독일에 출정하였다. 
1619년 네덜란드를 여행하면서 첫 작품인 짧은 《음악 개론》(Compendium Musicae)을 썼다.
"""

In [46]:
# print(introduce)

### 문자열 연산

In [48]:
# 문자열 연산에는 +와 *가 있다.
# +와 * 모두 공백없이 정확하게 달라붙어 출력된다.
a = 'apple'
b = 'delicious'

In [50]:
print(a+b)
print(a*3)

appledelicious
appleappleapple

### 이스케이프 코드

- **\n:  개행**
- **\t:  탭**
- **\\\\:  슬래쉬**
- **\\':  작은 따옴표**
- **\\":  큰 따옴표**

In [4]:
# enter의 역할을 하는 \n
a = "치킨 \n먹을래."
print(a)

치킨
먹을래.

In [5]:
# 4칸을 띄어쓰는 \t
a = "치킨 \t먹을래."
print(a)

치킨 	먹을래.

In [6]:
# \\을 넣고 싶을때 사용하는 \\
a = "치킨 \\먹을래."
print(a)

치킨 \먹을래.

In [7]:
# 문자열은 겉에 ''와 ""를 씌우기 때문에, 안에서의 혼동을 방지하기 위한 \',\"
a = "치킨 \'진짜\' 먹을래."
print(a)

치킨 '진짜' 먹을래.

In [8]:
a = "그가 말했다. \"치킨 먹을래.\""
print(a)

그가 말했다. "치킨 먹을래."

## 문자열 관련 함수

### 문자열 길이: len()

In [59]:
quote = "나는 생각한다. 고로 나는 존재한다."
# 공백을 포함한 모든 글자를 셉니다.
len(quote)

20

### 문자열 인덱싱

In [60]:
# 기본적으로 인덱스는 0부터 시작하기 때문에, 주의해야합니다.
quote = "나는 생각한다. 고로 나는 존재한다."
print(quote[1])
print(quote[5])

는
한

In [62]:
# 범위로 자를 수도 있는데, 이때의 범위는 ~이상 ~미만이다. 
# 앞과 뒤에 아무런 값을 넣지않으면, 각각 처음부터~ 끝까지가 된다.
quote = "나는 생각한다. 고로 나는 존재한다."
print(quote[:2])
print(quote[:])

나는
나는 생각한다. 고로 나는 존재한다.

In [64]:
# 범위로 자를 수도 있는데, 단계를 건너뛰면서도 가능하다.
# 역시 마찬가지로 ~이상 ~미만의 범위는 유지된다.
quote = "나는 생각한다. 고로 나는 존재한다."
print(quote[::2])

나 각다 로나 재다

### 연습문제
a="20190505chicken19000"는 잘못 쓰여진 변수이다.  
처음부터 **2019는 year이라는 변수**에, 그 다음 **0505를 day라는 변수**에,  
**chicken을 menu라는 변수**에, **19000을 money라는 변수에 각각 저장**하시오.   
**(반드시 인덱싱을 사용하시요.)**

In [72]:
a="20190505chicken19000"

year = a[:4]
day = a[4:8]
menu = a[8:15]
money = a[15:]

print(year, day, menu, money)

2019 0505 chicken 19000

### 문자열 포맷팅
#### 서식문자 이용하기

In [85]:
name = "강정호"
a = "안녕하세요. 나는 %s 입니다." % name # 값을 치환한다.
a

'안녕하세요. 나는 강정호 입니다.'

In [88]:
name = "강정호"
a = "안녕하세요. 나는 %5s 입니다." % name # 5칸만큼 오른쪽으로 밀어낸다.
a

'안녕하세요. 나는   강정호 입니다.'

In [90]:
name = "강정호"
a = "안녕하세요. 나는 %-5s 입니다." % name # 5칸만큼 왼쪽으로 밀어낸다.
a

'안녕하세요. 나는 강정호   입니다.'

#### format 함수 이용하기

In [96]:
# format 함수는 인덱스를 지정함으로써, 재사용성을 높일 수 있다. 앞에 있는 것을 뒤에서 또 언급이 가능하게 해주기 때문이다.
# 또한, 설정한 변수를 변수 그 자체로 format에 사용할 수도 있다.
name = "강정호"
school = '한양대학교'


a = "안녕하세요. 나는 {0} 입니다. 저는 {1}를 졸업했습니다.".format(name, school)
print(a)

안녕하세요. 나는 강정호 입니다. 저는 한양대학교를 졸업했습니다.

In [97]:
name = "강정호"
school = '한양대학교'
hobby = '음악감상'

a = "안녕하세요. 나는 {0} 입니다. 저는 {1}를 졸업했습니다. 제 취미는 {hobby} 입니다.".format(name, school, hobby=hobby)
print(a)

안녕하세요. 나는 강정호 입니다. 저는 한양대학교를 졸업했습니다. 제 취미는 음악감상 입니다.

### f문자열 포매팅
파이썬 3.6 버전부터는 f 문자열 포매팅 기능을 사용할 수 있다. 파이썬 3.6 미만 버전에서는 사용할 수 없는 기능이므로 주의해야 한다.  
다음과 같이 문자열 앞에 f 접두사를 붙이면 f 문자열 포매팅 기능을 사용할 수 있다.

In [102]:
# {}를 써서 사용한다.
name = "강정호"
school = '한양대학교'
hobby = '음악감상'

a = f"이름: {name}\n학교: {school}\n취미: {hobby}"
print(a)

이름: 강정호
학교: 한양대학교
취미: 음악감상

### 문자열 함수

#### count

In [113]:
# count 함수는 반드시 하나의 값을 필요로 한다. 
# str 안에 없는 값은 0을 출력한다.
# 대소문자를 구분한다.
a = "Impossible is impossible"
a.count('p')

2

#### index

In [117]:
# 인덱스로 접근할때는, 가장 먼저 나온 index 값을 반환한다.
a.index('i')

6

In [118]:
# 만약에 str안에 없는 값을 입력한다면, 이번에는 오류를 출력하게 된다.
a.index('z')

ValueError: substring not found

#### upper & lower

In [126]:
# upper는 대문자로, lower는 소문자로 바꾸어준다.
print(a.upper())
print(a.lower())
# upper와 lower는 안에 특정한 요소를 집어넣을 수 없다.
# print(a.upper('i')) 는 작동하지 않는다.

IMPOSSIBLE IS IMPOSSIBLE
impossible is impossible

#### strip

In [156]:
# strip은 양쪽의 특수한 문자나 공백을 삭제하는데에 사용된다.
# lstrip은 왼쪽만, rstrip은 오른쪽을 삭제한다.
# 문자를 삭제하는 방법은, 삭제하고 싶은 문자를 입력한 후, 한칸의 공백을 주면 된다.
# 연속으로도 가능하다.
a = "            Impossible is impossible              "
b = a.lstrip('Im ').rstrip()
print(a)
print(len(a))
print(b)
print(len(b))

            Impossible is impossible
50
possible is impossible
22

#### replace

In [157]:
a = "사랑은 돌아오는거야."
print(a)

사랑은 돌아오는거야.

In [158]:
b = a.replace("사랑", "우정")
print(b)

우정은 돌아오는거야.

#### split

In [159]:
# split에서 중요한 것은, 분리가 된 값들이 요소들이 되어 리스트로 반환된다는 것이다.
scores = "10:20:50:80:88"
quotes = "I am a boy. you are a girl."

In [160]:
# :를 기준으로 분리해낸다.
score = scores.split(":")
print(score)
print(type(score))

['10', '20', '50', '80', '88']
<class 'list'>

In [162]:
# " " 로 공백을 주는 것은 ()을 입력한 값과 정확하게 일치한다.
quote1 = quotes.split(" ")
quote2 = quotes.split()
print(quote1)
print(quote2)
print(quote1==quote2)

['I', 'am', 'a', 'boy.', 'you', 'are', 'a', 'girl.']
['I', 'am', 'a', 'boy.', 'you', 'are', 'a', 'girl.']
True

# 리스트

In [9]:
# 리스트는 []로 정의된다.
# 리스트에서만 쓸수 있는 함수들이 존재한다.
# 리스트는 Index로 접근한다는 것을 명심해야합니다.
fruits = ['apple', 'banana', 'grape', 'lemon', 'melon', 1]
print(fruits)
print(type(fruits))
print(len(fruits))
# len은 list안의 요소들의 개수를 세어준다.

['apple', 'banana', 'grape', 'lemon', 'melon', 1]
<class 'list'>
6

### index로 접근하기

In [10]:
print(fruits[0])
print(fruits[1])
# 나중에 사용하겠지만, crawling에서 BeautifulSoup에서 태그를 찾는 것은 
# 리스트형이기 때문에, index를 사용하여 접근할 수 있다.

apple
banana

In [12]:
print(type(fruits[3]))
print(type(fruits[5]))

<class 'str'>
<class 'int'>

In [14]:
# range와 마찬가지로, 범위를 지정할 수 도 있다.
fruits = ['apple', 'banana', 'grape', 'lemon', 'melon', ]
print(fruits[:3]) # 이상, 미만을 기억하자.
print(fruits[::2]) # 두칸씩 뛸수도 있다.
print(fruits[-1])

['apple', 'banana', 'grape']
['apple', 'grape', 'melon']
melon

### 중첩 리스트

In [15]:
a = [1,2,3, [1.0, 2.0, 3.0, ['a','b','c']]]
print(a)

[1, 2, 3, [1.0, 2.0, 3.0, ['a', 'b', 'c']]]

In [19]:
# 천천히 분석해봅시다. 
# a의 요소는 1, 2, 3, 그리고 리스트 입니다.
# 따라서 3번째를 출력하면, [1.0, 2.0, 3.0, ['a','b','c']]가 나올것을 기대합니다.
print(a[3])

# 중첩리스트 역시 리스트이기 때문에, 인덱스를 통해 접근할 수 있습니다.
# a의 3번째 요소의 3번째 요소의 0번째 요소는 'a'가 나올 것으로 기대합니다.
print(a[3][3][0])

# a의 요소의 개수는 몇개일까요? 당연히 4개입니다.
print(len(a))

# 어렵게 생각하지말고, 차근차근 앞에서부터 잘라나가면 금새 알 수 있는 원리입니다.

[1.0, 2.0, 3.0, ['a', 'b', 'c']]
a
4

### 리스트 연산

In [49]:
a = [1, 2, 3]
b = ['a', 'b', 'c']
# 리스트 끼리는 연산이 가능합니다.

In [50]:
# + 연산은 리스트를 뒤에 더해주는 것이기 때문에, extend와 그 원리가 같습니다.
print(a+b)
# print(a.extend(b)) # 그러나 연장하는 것 자체를 출력할 수는 없습니다. None값이 출력됩니다.
c = a.extend(b) # 새롭게 변수를 저장해도, 마찬가지입니다.
print(c)
print(a)

# extend 이후, a를 출력하는 것만 올바른 값을 가져옵니다.

[1, 2, 3, 'a', 'b', 'c']
None
[1, 2, 3, 'a', 'b', 'c']

In [54]:
print(b*2) # *연산자 역시 올바르게 작동합니다.

['a', 'b', 'c', 'a', 'b', 'c']

### 리스트 값 수정

In [9]:
a = [1, 2, 3]
print(a)

[1, 2, 3]

In [10]:
# 인덱스로 접근해봅시다.
a[2] = 10
print(a)

[1, 2, 10]

In [11]:
# del도 사용이 가능합니다.
del a[2]
print(a)

[1, 2]

### 리스트 관련 함수
리스트 관련 함수는 기본적으로 리스트가 선언된 변수뒤에 .함수이름() 으로 실행시킬 수 있습니다.

#### append

In [73]:
a = [1, 2, 3]
print(a)

[1, 2, 3]

In [74]:
# append 함수는 리스트의 뒤쪽에 추가하게 됩니다.
a.append(4)
a

[1, 2, 3, 4]

In [75]:
# 문자열 역시 추가가 가능합니다.
a.append('와! 너무재밌다!')
print(a)

[1, 2, 3, 4, '와! 너무재밌다!']

In [77]:
# 리스트 추가도 가능할까요? 가능합니다.
a = [1, 2, 3]
a.append([4, 5, 6])
print(a)

[1, 2, 3, [4, 5, 6]]

In [79]:
# extend와의 차이가 뭘까요?
# extend는 리스트를 언패킹하여, 요소로써 추가하게 됩니다. 
a = [1, 2, 3]
a.extend([4,5,6])
print(a)

[1, 2, 3, 4, 5, 6]

#### sort

In [80]:
a = [1, 3, 5, 2, 4]
print(a)

[1, 3, 5, 2, 4]

In [81]:
a.sort() # 오름차순으로 정렬합니다.
print(a)

[1, 2, 3, 4, 5]

In [82]:
a.sort(reverse=True)
print(a)

[5, 4, 3, 2, 1]

#### reverse

In [83]:
a = [1, 3, 5, 2, 4]

In [84]:
a = [1, 3, 5, 2, 4]

# sort 함수가 오름차순, 내림차순 정렬이였다면, reverse는 그런것과 상관없이 리스트의 순서 자체를 뒤집습니다.
a.reverse()
a

[4, 2, 5, 3, 1]

In [89]:
# reverse() 안에는 어떠한 argument도 넣을 수 없습니다.
a.reverse(reverse=True) # 오류발생

TypeError: reverse() takes no keyword arguments

#### index

In [90]:
# index 함수는 그 요소가 몇번째 위치에 있는지 그 좌표를 알려줍니다.
a = ['a', 'b', 'c', 'd']

In [92]:
a.index('d')
# c가 나올 것을 기대합니다.

3

#### insert

In [12]:
# insert는 정확한 index의 좌표값에 정확한 값을 "추가"합니다.
# 대체의 개념이 아닙니다. 그 좌표값에 어떠한 값을 추가하고, 나머지 값들은 뒤로 밀어냅니다.
a = [1, 2, 3, 4, 5]
print(a)

[1, 2, 3, 4, 5]

In [13]:
# insert를 사용할때는 []를 사용할 필요가 없습니다.
a.insert(0, 10)
print(a)

[10, 1, 2, 3, 4, 5]

####  remove

In [102]:
a = [1, 1, 1, 2, 3, '지워줘', 4, 5, 1]
print(a)

[1, 1, 1, 2, 3, '지워줘', 4, 5, 1]

In [103]:
# remove는 정확한 단 하나의 요소값을 지워줍니다. 
a.remove('지워줘')
print(a)

[1, 1, 1, 2, 3, 4, 5, 1]

In [106]:
# 반복적으로 지우는 것도 가능할까요? # 네 가능합니다. 실행한만큼 사라집니다.
a.remove(1)
print(a)

[1, 2, 3, 4, 5, 1]

#### pop

In [14]:
a = [1, 2, 3, "꺼내줘", 4]
print(a)

[1, 2, 3, '꺼내줘', 4]

In [117]:
a = [1, 2, 3, "꺼내줘", 4]

# pop은 정확한 요소를 집어서 밖으로 빼낸 후, 이를 삭제합니다.
c = a.pop(4)
print(c)
print(a)

4
[1, 2, 3, '꺼내줘']

In [118]:
# pop의 default 값은 맨 뒤의 요소입니다.
a = [1, 2, 3, 4]
a.pop()
print(a)

[1, 2, 3]

#### count

In [119]:
# count는 리스트 안의 정확한 요소의 개수를 찾아냅니다.
a = [1, 1, 1, 2, 2, 3]
print(a)

[1, 1, 1, 2, 2, 3]

In [122]:
a = [1, 1, 1, 2, 2, 3]

# count는 리스트 안의 정확한 요소의 개수를 찾아냅니다.
b = a.count(1)
print(b)

3

####  extend

In [123]:
# +와 동일

#### join 함수! (String)

In [144]:
# join 함수는 리스트를 벗겨내고 str형태로 변환합니다. 
# '' 안에 적당한 기호를 넣어줌으로써 구분지은 것처럼 보이게 할 수 있습니다.
fruit_list = ['apple', 'banana', 'grape']
# a-> '1,2,3,4,5'

fruits1 = ''.join(fruit_list) # 리스트가 사라졌다!
fruits2 = ','.join(fruit_list)
fruits3 = ', '.join(fruit_list)

print(fruits1)
print(fruits2)
print(fruits3)
print(type(fruits1))
print(type(fruits2))
print(type(fruits3))

applebananagrape
apple,banana,grape
apple, banana, grape
<class 'str'>
<class 'str'>
<class 'str'>

In [141]:
number_list = [1, 2, 3, 4, 5]

numbers = ''.join(number_list) # 숫자로 된 리스트의 경우에는 join 함수가 작동하지 않습니다.
numbers

TypeError: sequence item 0: expected str instance, int found

## 튜플 - Tuple

In [146]:
# 튜플이란? () 안에 요소를 넣음으로써 생성합니다.
# list와 매우 유사하지만, 직접 값을 수정하지 않는 이상 값을 수정하거나 변경할 수 없습니다.
a = (1, 2, 3, 4, 5)
print(a)
print(type(a))

(1, 2, 3, 4, 5)
<class 'tuple'>

#### 길이가 1인 튜플

In [148]:
# 길이가 1인 튜플을 만들어봅시다!! 
a = (3) # 그저 int
b = (3,) # 뒤에 콤마 ',' 를 찍어줍니다.
c = (3, ) # 공백이 있어도 ok

print(type(a))
print(type(b))
print(type(c))

<class 'int'>
<class 'tuple'>
<class 'tuple'>

## 집합 - Set

In [149]:
# 집합은 자주 사용되는 개념은 아니지만, 짚고 넘어가야하는 개념입니다.
# 집합은 {} 로 정의되며, 고등학교 1학년때 배운 그 집합과 정확하게 일치합니다.
# 합, 교, 차 집합이 전부 가능합니다.
a = {1, 2, 3}
b = {2, 3, 4}
print(a)
print(b)
print(type(a))
print(type(b))

{1, 2, 3}
{2, 3, 4}
<class 'set'>
<class 'set'>

In [150]:
# 단 {}의 default값은 딕셔너리로 되어있습니다. 
c = {}
print(type(c))

<class 'dict'>

### 집합의 연산

In [17]:
a = {1, 2, 3}
b = {2, 3, 4}

In [20]:
c = a & b
print(c)

d = a.intersection(b) # intersection은 함수입니다. () 안에 넣어야겠죠?
print(d)

{2, 3}
{2, 3}

In [21]:
c = a | b
print(c)

d = a.union(b)
print(d)

{1, 2, 3, 4}
{1, 2, 3, 4}

In [164]:
c = a - b
c2 = a.difference(b) # difference 함수를 사용할 수 도 있습니다.
print(c)
print(c2)

d = b - a
d2 = b.difference(a)
print(d)
print(d2)

{1}
{1}
{4}
{4}

# 집합의 논리

In [166]:
# 집합은 논리연산자가 작동합니다.
# 부분집합과 모집합을 생각하면 이해가 쉽습니다.
a = {1, 2, 3}
b = {1, 2, 3, 4, 5}
# a는 b의 부분집합입니다.
# b는 a의 모집합입니다.

In [167]:
a > b

False

In [168]:
a < b

True

In [169]:
a <= b

True

## 딕셔너리 - Dictionary

In [25]:
# 딕셔너리는 key와 value로 이루어져 있습니다.
# 따라서, key 값과 value 값 둘다 이용하여 접근이 가능합니다.
Minsu = {
    'name': 'Minsu',
    'age': 20,
    'height': 180.0,
    'hobby': 'listening music',
}
print(Minsu)
print(type(Minsu))

{'name': 'Minsu', 'age': 20, 'height': 180.0, 'hobby': 'listening music'}
<class 'dict'>

In [26]:
Minsu['age']

20

In [24]:
jungho['hobby']

'listening music'

## 값 추가하기

In [180]:
# 가장 뒤에 추가됩니다.
jungho['weight'] = 72 # : 가 아니라 = 을 사용한다는 것을 명심합니다!! 
print(jungho)

{'name': 'jungho', 'age': 26, 'height': 183.3, 'hobby': 'listening music', 'friends': ['purem', 'jiwon'], 'weight': 72}

### 값 수정하기

In [181]:
jungho['weight'] = 73
print(jungho)

{'name': 'jungho', 'age': 26, 'height': 183.3, 'hobby': 'listening music', 'friends': ['purem', 'jiwon'], 'weight': 73}

### Dictionary 함수들

In [182]:
jungho = {
    'name': 'jungho',
    'age': 26,
    'height': 183.3,
    'hobby': 'listening music',
    'friends': ['purem', 'jiwon']
}

In [183]:
# 언제나 함수는 기본적으로 .함수이름() 이라는 것을 명심합니다.
jungho.keys()

dict_keys(['name', 'age', 'height', 'hobby', 'friends'])

In [187]:
jungho.keys('hobby') # keys는 ()안에 아무것도 들어가지 않습니다.

TypeError: keys() takes no arguments (1 given)

##### values()

In [188]:
jungho.values()

dict_values(['jungho', 26, 183.3, 'listening music', ['purem', 'jiwon']])

##### items()

In [189]:
jungho.items()

dict_items([('name', 'jungho'), ('age', 26), ('height', 183.3), ('hobby', 'listening music'), ('friends', ['purem', 'jiwon'])])

##### clear()

In [193]:
jungho.clear() # 내용을 전부 삭제합니다.
print(jungho)
print(type(jungho)) # 내용이 삭제되어도 여전히 dict의 속성을 가지고 있습니다.

{}
<class 'dict'>

##### get 함수 사용

In [200]:
jungho = {
    'name': 'jungho',
    'age': 26,
    'height': 183.3,
    'hobby': 'listening music',
    'friends': ['purem', 'jiwon']
}

In [201]:
jungho_name1 = jungho.get('name')
jungho_name1

'jungho'

In [202]:
jungho_name2 = jungho.get('name', 'jungho')
jungho_name2

'jungho'

In [204]:
jungho_name3 = jungho.get('name', 'zozi') # 엉뚱한 문자를 넣어도 키값의 정확한 value값을 가져옵니다.
jungho_name3

'jungho'