In [24]:
import numpy as np
import pandas as pd
import os 
from os import listdir
import re

base_dir = os.getcwd() # 현재 작업 dir 확인

# 데이터가 들어있는 폴더
data_dir = "C:\\Users\\User\\Documents\\data_weatherforcast\\{}".format('EDA')

# data_dir로 작업하는 폴더 경로 변경
working_dir = os.chdir(data_dir) 

# 전처리된 데이터를 내보낼 폴더
out_dir = "C:\\Users\\User\\Documents\\data_weatherforcast\\{}\\".format('EDA') 
if not os.path.exists(out_dir): # 만약 경로가 없으면, 
        os.makedirs(out_dir) # 새로운 폴더를 생성하겠습니다.

# 전처리할 파일들이 들어있는 폴더의 파일 목록을 list형태로 추출
files = os.listdir(data_dir)

# for문을 돌면서 하나씩 파일을 꺼내옴
nowon = pd.read_csv(files[0], index_col=0)
people = pd.read_csv(files[1], index_col=0)
jongro = pd.read_csv(files[2], index_col=0)

In [9]:
nowon.head()

               미세먼지(PM-10)  소음(db)  온도(℃)  습도(%)  초미세먼지(PM-2.5) PM10단계 PM25단계
날짜
2018-04-01 00         53.0    48.0   14.0   52.0           30.0     보통     보통
2018-04-01 01         55.0    48.0   14.0   53.0           30.0     보통     보통
2018-04-01 02         57.0    48.0   14.0   53.0           29.0     보통     보통
2018-04-01 03         54.0    48.0   13.0   53.0           27.0     보통     보통
2018-04-01 04         52.0    48.0   13.0   53.0           29.0     보통     보통

In [15]:
jongro.head()

               미세먼지(PM-10)  소음(db)  온도(℃)  습도(%)  초미세먼지(PM-2.5) PM10단계 PM25단계
날짜
2018-04-01 00         49.0    53.0   13.0   62.0           24.0     보통     보통
2018-04-01 01         51.0    52.0   13.0   63.0           23.0     보통     보통
2018-04-01 02         52.0    52.0   14.0   62.0           24.0     보통     보통
2018-04-01 03         54.0    51.0   14.0   61.0           26.0     보통     보통
2018-04-01 04         54.0    51.0   14.0   57.0           27.0     보통     보통

In [48]:
people = pd.read_csv(files[1], index_col=0)

people['STD_YMD'] = people['STD_YMD']*100
people['STD_YMD'] = people['STD_YMD'] + people['hour']
people['STD_YMD'] = pd.to_datetime(people['STD_YMD'], format='%Y%m%d%H')
people['STD_YMD'] = people['STD_YMD'].astype('str')

date_ls = list(people['STD_YMD'])
hour_ls = []
for date in date_ls:
    date = date[:13]
    hour_ls.append(date)
    
# column을 시간으로 변경, 이름 역시 변경
people['STD_YMD'] = hour_ls
people = people.rename(columns={'STD_YMD': '날짜'})
people.index = people['날짜']

# drop
people = people.drop(columns=['날짜','hour'])

people.head()
# people.tail()

                 HDONG_CD HDONG_NM  population
날짜
2018-04-01 00  1111051500    청운효자동      609.11
2018-04-01 00  1111053000      사직동     1904.32
2018-04-01 00  1111054000      삼청동      216.30
2018-04-01 00  1111055000      부암동     1300.61
2018-04-01 00  1111056000      평창동     2523.88

In [49]:
len(people)

315360

In [50]:
people['HDONG_NM'].value_counts()

숭인2동           8760
공릉2동           8760
혜화동            8760
상계2동           8760
월계2동           8760
창신1동           8760
창신2동           8760
공릉1동           8760
상계9동           8760
상계6.7동         8760
중계본동           8760
무악동            8760
청운효자동          8760
중계2.3동         8760
가회동            8760
창신3동           8760
하계2동           8760
이화동            8760
종로5.6가동        8760
중계1동           8760
부암동            8760
평창동            8760
상계8동           8760
숭인1동           8760
월계1동           8760
하계1동           8760
중계4동           8760
상계5동           8760
월계3동           8760
교남동            8760
상계10동          8760
사직동            8760
상계3.4동         8760
상계1동           8760
종로1.2.3.4가동    8760
삼청동            8760
Name: HDONG_NM, dtype: int64