## 소수찾기

In [ ]:
# 1번 방법
def solution(A):
    i = A - 1 # A의 전까지의 숫자로 for문을 돌릴 것
    j = 2 # 1은 의미가 없으므로, 2부터 증가시킬 것
    
    while True: # True일 경우, 하위 조건식이 동작할때까지 작동시킬 수 있음
        if (j <= i):
            if (A % j == 0):
                print("소수아님")
                break
            
            else:
                j += 1 
        
        else:
            print("소수")
            break

In [ ]:
solution(13)

In [ ]:
# 2번 방법
def solution(a):
    j = 2
    
    while a % j != 0:
        j += 1
        
        if a == j:
            print("소수")
            break
            
        else:
            print("소수 아님")
            break

In [ ]:
solution(13)

In [ ]:
print(int(3.5), int(3.4), int(3.9))

In [ ]:
# 3번 방법
import math

def solution(a):
    j = 2
    s = int(math.sqrt(a))
    
    while True:
        if j <= s:
            if a % j == 0:
                print("소수 아님")
                break
            else:
                j += 1
        else:
            print("소수")
            break

In [ ]:
solution(13)

In [109]:
def solution(a):
    hap = 0
    k = 2 # 소수인지 판별할 숫자를 시작 (1은 제외하기 때문에 2)
    temp = []
    
    while True:
        j = 2
        while k % j != 0:
            j += 1
            
        if k == j:
            hap += k
            temp.append(k)
            
        if k < a:
            k += 1
                
        else:
            break
            
    return len(temp)

In [ ]:
def solution(a, b):
    big = 0
    small = 0 
    gcm = 0
    lcm = 0
    mok = 0
    nmg = 0
    
    if a >= b:
        big = a
        small = b
    else:
        big = b
        small = a
        
    while True:
        mok = int(big // small)
        nmg = big - (mok * small)
        if nmg == 0:
            gcm = small
            lcm = (a * b) / gcm
            print(gcm, lcm)
            break
            
        big = small
        small = nmg

In [ ]:
solution(15, 12)

## 약수구하기

In [ ]:
def solution(n):
    a = []
    c = 1
    d = 0
    
    while True:
        if c <= n:
            if n % c == 0:
                a.append(c)
                c += 1
            else:
                c += 1
        else:
            break
    print(a)

In [ ]:
solution(10)

## 최대값 구하기

## 직사각형그리기

In [ ]:
def solution(n, m):
    temp = ""
    for i in range(m):
        temp = temp+('*'*n)
        temp = temp + '\n'
        
    return print(temp)

In [ ]:
solution(2,2)

In [7]:
a, b = map(int, input().strip().split(' '))

for i in range(a):
    print('*'*b)

3 5
*****
*****
*****

## 예산

In [47]:
def solution(d, budget):
    temp = []
    count = 0
    
    # d를 sort 해서 오름차순으로 정렬
    d.sort()
#     print(d)
    
    # for문으로 인자를 하나씩 꺼낸다음 budget에서 빼기
    for i in d:
        count += i
        if count <= budget:
            temp.append(i)
        else:
            break
            
#     print("budget: ", budget, "count: ", count)
#     print("blank_list: ", temp)
    return len(temp)

In [48]:
solution([1, 2, 3, 4, 5], 9)

[1, 2, 3, 4, 5]
budget:  9 count:  10
blank_list:  [1, 2, 3]

3

In [49]:
solution([2,2,3,3], 10)

[2, 2, 3, 3]
budget:  10 count:  10
blank_list:  [2, 2, 3, 3]

4

## 제일 작은 수 빼기

In [ ]:
import copy

def solution(arr):
    arr2 = copy.copy(arr)
    arr2.sort()
    num = arr2[0]
    
    arr.remove(num)
    
    if arr == []:
        arr = [-1]
    
    return arr

In [54]:
def solution(arr):
    arr.sort()
    arr.reverse()
    arr.pop()
    
    if arr ==  []:
        arr = [-1]
    
    return arr

In [55]:
solution([3, 5, 2, 1])

[5, 3, 2]

In [67]:
import copy

def solution(arr):
    arr2 = copy.copy(arr)
    arr2.sort()
    num = arr2[0]
    
    arr.remove(num)
    
    return arr

In [68]:
solution([3, 5, 2, 1])

1

[3, 5, 2]

In [85]:
import math
n = 144

print(type(math.sqrt(n)))
print(math.sqrt(n))

<class 'float'>
12.0

In [86]:
print(type(int()))

<class 'int'>

In [87]:
math.sqrt(3)

1.7320508075688772

In [89]:
def solution(num):
    count = 0
    
    while count <= 500:
        if num % 2 == 0:
            num = num / 2
            count += 1
            if num == 1:
                return count

        else:
            num = num * 3 + 1
            count += 1
            if num == 1:
                return count

    if count > 500:
        return -1

In [91]:
solution(626331)

-1

## 행렬연산

In [109]:
import numpy as np

def solution(arr1, arr2):
    arr1 = np.array(arr1)
    arr2 = np.array(arr2)

    print(arr1)
    print(arr2)
    print(type(arr1), type(arr2))
    
    answer = arr1 + arr2
    
    print(type(answer))
    
    temp = []
    
    for i in answer:
        i = list(i)
        temp.append(i)
        
    print(type(temp))
        
    
    return temp

In [110]:
solution([[1,2],[2,3]], [[3,4],[5,6]])

[[1 2]
 [2 3]]
[[3 4]
 [5 6]]
<class 'numpy.ndarray'> <class 'numpy.ndarray'>
<class 'numpy.ndarray'>
<class 'list'>

[[4, 6], [7, 9]]

In [5]:
def solution(s):
    answer = 0

    return int(answer)

In [6]:
solution("-1234")

-1234

In [7]:
s = "-1234"
s[1:]

'1234'

In [4]:
0 - 1234

-1234

In [10]:
chr(97)

'a'

In [15]:
chr(122)

'z'

In [13]:
chr(65)

'A'

In [18]:
chr(90)

'Z'

In [16]:
ord("A")

65

In [17]:
ord("Z")

90

In [37]:
def solution(s, n):
    answer = ''
    
    for i in s:
        if i == ' ':
            answer = answer + " "
            
        elif i.isupper():
            if (ord(i)+n) > 90:
                answer = answer + chr(64 + (ord(i) + n - 90))
            else:
                answer = answer + chr(ord(i) + n)
            
        elif i.islower():
            if (ord(i)+n) > 122:
                answer = answer + chr(96 + (ord(i) + n - 122))
            else:
                answer = answer + chr(ord(i) + n)
    
    return answer

In [38]:
solution("a B z", 4)

'e F d'

In [34]:
"a".isupper()

False

In [44]:
s = 'pPoooyY'

In [46]:
s.lower()

'ppoooyy'

## 문자열 마음대로 정렬하기

In [104]:
def solution(strings, n):
    
#     strings = sorted(strings, key = lambda strings : strings[n])
    print(sorted(strings))
    print(sorted(sorted(strings), key = lambda x : x[n]))

In [105]:
solution(["abce", "abcd", "cdx", "aacc"], 2)

['aacc', 'abcd', 'abce', 'cdx']
['aacc', 'abcd', 'abce', 'cdx']

In [78]:
list.sort?

## 소수 찾기

2부터 소수를 구하고자 하는 구간의 모든 수를 나열한다. 그림에서 회색 사각형으로 두른 수들이 여기에 해당한다.  
자기 자신을 제외한 2의 배수를 모두 지운다.  
자기 자신을 제외한 3의 배수를 모두 지운다.   
자기 자신을 제외한 5의 배수를 모두 지운다.  
자기 자신을 제외한 7의 배수를 모두 지운다.

In [113]:
def solution(a):
    k = 2
    temp = []
    
    while True:
        j = 2
        while k % j != 0:
            j += 1
            
        if k == j:
            temp.append(k)
            
        if k < a:
            k += 1
                
        else:
            break
            
            
    answer = len(temp)
            
    return answer

In [114]:
solution(1000000)

KeyboardInterrupt:

In [28]:
import datetime

def solution(a, b):
    answer = datetime.datetime(2016, a, b).strftime("%A")[:3].upper()
    
    return answer

In [29]:
solution(1,2)

'SAT'

## 체육복

In [34]:
[1,2,3] + [1,2]

[1, 2, 3, 1, 2]

In [35]:
left = 1
a = [1,2,3]
a.remove(left)

In [36]:
a

[2, 3]

In [139]:
def solution(n, lost, reserve):
    a = set(lost)
    b = set(reserve)
    lost = list(a - b)
    reserve = list(b - a)
    
    for i in reserve:
        left = i-1
        right = i+1
                
        if left in lost:
            lost.remove(left)
        
        elif right in lost:
            lost.remove(right)
            
    return n - len(lost)

In [140]:
solution(2, [1,2], [1,2])

2

In [141]:
solution(10, [2,3,4,5], [3,2,1])

8

In [142]:
solution(10, [2,3,4,5], [1,2,3])

8

In [143]:
11 // 2 + 1

6

In [144]:
6 / 2

3.0

In [288]:
def solution(n,a,b):
    x = a
    y = b
    count = 0

    while True:
        if x % 2 == 0:
            x = x / 2

        elif x % 2 != 0:
            x = (x+1) / 2

        if y % 2 == 0:
            y =  y / 2

        elif y % 2 != 0:
            y = (y + 1) / 2

        count += 1

        if x == y:
            return count

In [289]:
solution(8, 4, 5)

3

In [278]:
abs(1 - 2)

1

In [292]:
# 몫과 나머지 구하기

q, r = divmod(10,3)
print(q, r)

3 1

In [293]:
q

3

## 숫자야구

In [296]:
def solution(baseball):
    answer = ""
    temp = []

            
        # strike를 활용한 조건문
        # 각자 자리수 마다 맞을때, 라고 가정하는 if문 3개
        
            # ball을 활용한 조건문 
        
        # 결과값 504개에서 빼는거죠
        # 이걸 반복해서 다음거 넣고, 다음거 넣고... 
        
    # for문이 다 끝나고
    # 결과값 return 
    
    return 0

In [297]:
solution([[123, 1, 1], [356, 1, 0], [327, 2, 0], [489, 0, 1]])

123
356
327
489

0

In [298]:
baseball = [[123, 1, 1], [356, 1, 0], [327, 2, 0], [489, 0, 1]]

In [314]:
baseball = sorted(baseball, key = lambda x : x[1])
# baseball = sorted(baseball, key = lambda x : x[2])
baseball.reverse()

In [315]:
baseball

[[327, 2, 0], [356, 1, 0], [123, 1, 1], [489, 0, 1]]

In [1]:
# 먼저 리스트에서 뺄 수 있는 것 다 빼줌

# 스트라이크가 많은 순대로 케이스 리스트를 만들어 줌 (이게 가장 적을 것)

321
324
325
326
327
328
329

317
347
357
367
387
397

127
327
427
527
627
827
927

927

In [14]:
def solution(n, lost, reserve):
    answer = 0
    
    a = set(lost)
    b = set(reserve)
    lost = list(a - b)
    reserve = list(b - a)
    
    for i in reserve:
        left = i-1 # 앞 번호
        right = i+1 # 뒷 번호
                
        if left in lost:
            lost.remove(left)
        
        elif right in lost:
            lost.remove(right)
            
    answer = n - len(lost)
    
    return answer

In [15]:
solution(5, [2, 4], [1, 3, 5])

5

In [16]:
set([5,1,1,2,3,4])

{1, 2, 3, 4, 5}

In [10]:
set([2,3,4]) - set([1,3,5])

{2, 4}

In [11]:
set([1,3,5]) - set([2,3,4])

{1, 5}

In [29]:
# set() 함수는 중복을 제거한다.

sample1 = set([1, 1, 2, 3]) # 1 두개 
print(sample1) 
print(type(sample1))

# {1, 2, 3}
# <class 'set'>

{1, 2, 3}
<class 'set'>

In [30]:
# set 함수는 자동으로 오름차순 정렬을 실시한다.

sample = set([3, 2, 1, 1]) # 순서 변경
print(sample)
print(type(sample))

# {1, 2, 3}
# <class 'set'>

{1, 2, 3}
<class 'set'>

In [32]:
# 집합의 연산은 순서에 따라 달라진다.

set1 = {1, 2, 3}
set2 = {2, 3, 4}
print(set1 - set2) 
print(set2 - set1)

# {1}
# {4}

{1}
{4}